[2022-02-28 23:58] SteveMacenski opened #2 "Nav launch files are not in best practices, and will not use composition"
Please look over the current state of Nav2's launch files so that your users can use the best in Nav2 on Rolling. You do not want to copy-paste our launch files over. Instead, you want to make a launch file that launches Nav2's files with your custom configuration read-ins or additional nodes (like base, simulator, etc).

[2022-03-01 22:20] roni-kreinin commented on #2
Is there a way to run async slam using the Nav2 launch files? I find the performance is much better on the RPI4 with async.

[2022-03-01 22:59] SteveMacenski commented on #2
You can always swap out the localization launch file, but you shouldn't be overriding the navigation launch file -- only the highest level bringup which would include a localization launch include.

[2022-03-03 22:27] #2 closed, assigned to roni-kreinin

[2022-05-16 16:47] MithunKinarullathil opened #8 "Requesting sdf models to be uploaded in ignition gazebo fuel"
**Describe the the feature you would like**
Hi, we are (mov.ai) currently using the [ignition gazebo fuel repository](https://app.gazebosim.org/dashboard) to easily test the models and worlds for our simulations using our [opensource platform](https://github.com/MOV-AI/movai-flow). We would love to test out the turtlebot4 simulator and make demos out of it. Could I kindly request you if it's possi

[2022-05-17 16:03] roni-kreinin commented on #8
I'll look into it.

[2022-05-17 18:30] MithunKinarullathil commented on #8
Great, thanks.

[2022-07-14 17:46] alexswerner opened #10 "NTP sync warning"
On our campus network, outgoing NTP is blocked. Ubuntu by default rejects any ntp server supplied through DHCP. This results in no time synchronization on the raspberry pi as it has no RTC with battery backup. ROS suffers from this issue as does apt.

This can be fixed by using the DHCP-provided NTP server by adding a dispatch script to NetworkManager:
[code]
This file needs to be made executable.

[2022-07-15 11:31] alexswerner commented on #10
This probably needs some further investigation, especially if the fix works (it is for systemd-timesyncd and turtlebot4 uses chrony). In our case, we finally resolved the issue with unblocking ntp traffic in the firewall. I suggest that the manual should state that this robot needs a time server to work, that public timeservers are pre-configured and that dhcp supplied ntp servers are ignored.

[2022-07-15 11:36] alexswerner opened #11 "Robot does not drive far after leaving the base"
When I start with a docked robot, and command the robot to back out of the base through `/cmd_vel` the robot just moves back about 1 meter and then stops. It can move back into the base. I use `ros2 run teleop_twist_keyboard teleop_twist_keyboard` and buttons `i`,`,` to move the robot.

[2022-07-15 12:45] alexswerner opened #12 "Automatic docking"
Is automatic docking supposed to work? I found a service for it and tried:
[code]
That happens when the dock is visible:
[code]
Please let me know if this is rather an Icreate3 issue.

[2022-07-15 12:46] roni-kreinin commented on #11
By default the Create 3 has a backup limit because the cliff sensors are only positioned on the front half of the robot. You can override the safety settings by using the Create 3 webserver. See https://iroboteducation.github.io/create3_docs/webserver/application/ for more details.

[2022-07-15 12:52] roni-kreinin commented on #12
The docking action is provided by the Create 3 but it should work. Does the robot do anything when you call the action?

Also can you try placing the robot on the dock and using the undock action? `ros2 action send_goal /undock irobot_create_msgs/action/Undock {}`

[2022-07-15 12:52] roni-kreinin commented on #10
Thanks, I'll add a note to the manual.

[2022-07-15 17:24] alexswerner commented on #12
This might be related to using the cyclonedds middleware without setting the correct middleware options: `export CYCLONEDDS_URI='<CycloneDDS><Domain><General><DontRoute>true</></></></>'
`

[2022-07-15 17:26] alexswerner commented on #11
Thanks @roni-kreinin, that possiblity of the existance of any hardware protections was just confusing me.

[2022-07-15 17:47] #11 closed, assigned to roni-kreinin

[2022-07-18 19:54] aalghooneh opened #13 "Charging the turtlebot with keeping it turned off"
Hi

I just had a general question, how can I charge the robot while keeping it turned-off?

I tried to turn it off and then putting it on dock, but as soon as I put in the dock, it turns on and the LiDAR starts turning.

Is there any way ?

thanks in advance

[2022-07-18 20:06] roni-kreinin commented on #13
You can put the Create 3 into standby mode by pressing button 1 for 10 seconds (https://iroboteducation.github.io/create3_docs/hw/face/). Power will continue to be supplied to the RPI4 however, so if you want to turn that off too you will just need to unplug the USB-C cable.

[2022-07-19 12:53] alexswerner commented on #13
Hi @roni-kreininm, thanks for the reply. Is there anything which could be done about how the Create3 managed the power? It is just a bit too unintuitive. For example, this morning i walked up to the robot in the dock and it was off (how that is possible is beyond me). Then pressing the button did not power it on. Once the robot triggered to boot by removing it from the base and putting it back, th

[2022-07-19 14:38] roni-kreinin commented on #13
- Unfortunately the only way to power the robot on is by placing it on the dock. This is just a limitation of the Create 3.
- The battery status will display 0 until the Create 3 starts publishing on the battery status topic. This status is published at 0.1hz and also whenever battery percentage changes.
- The robot can be powered off programatically using the [RobotPower](https://github.com/iRobo

[2022-07-19 18:53] alexswerner commented on #13
Thanks a bunch for the compact information!

[2022-07-19 19:41] alexswerner commented on #13
This problem persists: Robot is off, trigger booting by putting it one the base. It then starts charging for a couple of minutes as indicated by the charging light on the dock. After those minutes, the charging light is off and I think it is not charging any more because the pulsating red right status shows on the base. The `/dock` topic still reports that it is docked.

[2022-07-19 19:49] roni-kreinin commented on #13
The charging light on the dock will usually turn off a few seconds after the robot is placed on the dock. The robot is still charging in this case. Can you echo the `/battery_state` topic and paste the output here?

[2022-07-19 20:25] alexswerner commented on #13
[code]

[2022-07-19 20:30] alexswerner commented on #13
And when I try to power down the robot this is what i get:
[code]

[2022-07-19 21:30] roni-kreinin commented on #13
The battery state shows a positive current of 0.11A which indicates it is charging, although very slowly. Do you have a high load running on the TurtleBot4? You can try stopping the turtlebot4 service by calling `sudo systemctl stop turtlebot4` on the RPI4 to reduce some power consumption, or just unplug the RPI4 from the Create 3.

As for the service, I don't believe you can use that while it is

[2022-07-20 01:36] alexswerner commented on #13
Our turtlebot is not modified in any way. With the lidar stopped and being four hours on the dock I am getting this:
[code]
with
[code]
after running `sudo systemctl stop turtlebot4` I get
[code]

[2022-07-20 01:42] alexswerner opened #14 "Controller issues"
Something seems to be wrong with our gamepad controller. When I first too it out of the box and started charging it, it turned amber which seemed fine. However after some time I disconnected it and it stayed amber. Even pressing the pairing key combo, nothing changed. Only the reset button on the back helped.

Now connecting often fails, as does driving the robot. We are still investigating if thi

[2022-07-20 01:48] alexswerner opened #15 "Documentation: CPU usage"
It would be good to state how much of the raspi CPU is available for the user. When I checked with htop (so a very subjective measurement) it seems that >60% are used by the basic services. If the turtlebot4 service is not running, this is 0%. The documentation states that running computation heavy tasks off-board is better (e.g. navigation stack). That can work, but in a classroom scenario with >

[2022-07-20 02:08] alexswerner opened #16 "Rasperry Pi - Base communication: Wi-Fi network/USB network"
After starting the robot I observe constant traffic from the base to the raspberry pi on the Wi-Fi network. As recommended the PI is on a 5 Ghz Wi-Fi and the base on 2.4Ghz. Why is this traffic not using the internal network (usb0)? This thought is motivated that in a classroom full of robots Wi-Fi bandwidth could really be scarce. What is the use of `multipathd` in the PI? How does
`export CYCLON

[2022-07-20 02:21] alexswerner opened #17 "Recommendation for running multiple robots in one room"
There are a couple of ways to run multiple robots (independently) in one space. For running them in one classroom we are trying to implement this scenario:

Put all PIs on one 5Ghz Wi-FI ap, all bases on one 2.4Ghz Wi-Fi ap. Connected with APs with a bridge. Have a DHCP server on this bridge with fixed IPs for the robots (e.g. uwbot-01 -> 192.168.23.100). The students then join this AP with their

[2022-07-20 02:38] alexswerner opened #18 "Documentation: Multihomed computer and Cyclone-DDS"
There should be a FAQ entry that Cyclone-DDS needs to be manually configured which network interface to use through this setting:
[code]
And to give people a chance to understand what is going on with ROS2 DDS on network bridges (like all APs with 2.4Ghz 5Ghz Wi-FI) the documentation could state something like "[IGMP](https://en.wikipedia.org/wiki/Internet_Group_Management_Protocol) messages are u

[2022-07-20 12:19] alexswerner commented on #13
And after a night in this state, the raspi has been power off by the base. The base reports this:
[code]
And
[code]

[2022-07-20 14:07] roni-kreinin commented on #13
Can you try removing the tray and pulling out the [adapter board](https://iroboteducation.github.io/create3_docs/hw/adapter/) from the Create 3 and then see if it begins charging?

[2022-07-20 14:14] roni-kreinin commented on #14
Can you try the following:

- SSH into the RPI and call `sudo bluetoothctl --agent=NoInputNoOutput`
- In the CLI type `devices`. This should show the MAC of the paired controller
- Type in `remove <MAC>` to remove the controller. Also type `untrust <MAC>` to untrust it.
- Follow the [controller setup](https://turtlebot.github.io/turtlebot4-user-manual/overview/quick_start.html#turtlebot-4-controll

[2022-07-20 14:22] roni-kreinin commented on #16
The Create3 and RPI are both configured to use `wlan0` and `usb0` for transmitting ROS data. The `usb0` interface is mostly there to allow communication between the two when there is no WiFi signal. In general we want data to be sent over WiFi so that a remote PC can also access it. If the base is not sending `tf` data over WiFi for example, we would not be able to see the transform from `base_lin

[2022-07-20 14:57] roni-kreinin commented on #17
Namespacing is not yet supported but is planned. There is a [PR](https://github.com/iRobotEducation/create3_sim/pull/176) for the Create 3 sim already.

Regardless, I would still recommend using ROS_DOMAIN_ID as it will be much less confusing. I have instructions [here](https://turtlebot.github.io/turtlebot4-user-manual/software/turtlebot4_packages.html#installing) for installing the `robot_upstar

[2022-07-20 15:07] alexswerner commented on #13
I will give this a try tomorrow

[2022-07-20 15:51] roni-kreinin commented on #15
I can look into some optimization for the turtlebot nodes but this may have to wait for the Humble release. As it stands I think that 60% cpu utilisation is reasonable given the load. You do have the option to modify the launch file to reduce CPU load. For example you can disable diagnostics which uses about 60-70% of one core.

Running navigation on a remote PC versus on the RPI won't have any ef

[2022-07-20 15:52] roni-kreinin commented on #12
Were you able to resolve this issue?

[2022-07-20 16:22] alexswerner commented on #12
We were no longer able to reproduce this issue later on. Docking seems to work.

[2022-07-20 16:22] #12 closed, assigned to roni-kreinin

[2022-07-20 16:47] roni-kreinin commented on #18
I have updated the instructions in the user manual.

[2022-07-20 16:47] #18 closed, assigned to roni-kreinin

[2022-07-20 20:25] alexswerner commented on #15
Understood that the computational inefficiencies in the base packages cannot be solved just by this project.

I'm not sure I understand. I would guess the only relevant topic bandwidth-wise is the laser scanner and running the mapping locally would also keep the data local. Where am I going wrong?

I'll try that. But also here, I assumed the camera data is going through USB and local processing on

[2022-07-20 20:25] alexswerner commented on #14
Thanks! I'll try that tomorrow.

[2022-07-20 20:55] roni-kreinin commented on #15
As long as there is a subscriber for the topic, the data is being sent over the network, even if both the publisher and subscriber are on the same machine. For navigation, you have the nav2 stack publishing data, and RVIZ subscribing. For the camera, the OAK-D node is publishing and `turtlebot4_diagnostics` is subscribing. If you disable diagnostics and don't have any other nodes subscribed to the

[2022-07-21 15:41] alexswerner commented on #14
Since there was no signal of life (LED was always off) from the controller, I decided to investigate it. After opening it, the battery turned out to be at 4.16V. Unplugging the battery for 3 seconds brought the controller back to life. Tried before to get that by pressing the reset button, but that again did not work. Probably a power management issue with that controller.

I will further investig

[2022-07-21 16:01] alexswerner commented on #13
I removed the adapter board and put it back on the base. The red pulsing right status appeared and I left it on the base for two hours. Still red pulsing ring after that time. Seems that something is wrong with the Create 3 or the dock then.
When I put adapter board back in and the robot on the dock I can see it starting and the base also connects via Wi-Fi. The Lidar also spins up right at start,

[2022-07-21 16:11] roni-kreinin commented on #13
It's likely that the battery voltage did drop too low and caused it to self protect. The TurtleBot4 node will call the `RobotPower` service when it reaches below 12% battery for over a minute to avoid this issue. In your case, the robot was on the dock so the service did not work.

I would recommend trying a different outlet once you have reset the batteries and letting it charge fully without the

[2022-07-21 16:41] alexswerner commented on #13
I'm doing that right now. Things look much better already:
[code]

That is without adapter board and any accessories. Is this the charge current you would expect?

[2022-07-21 17:03] roni-kreinin commented on #13
Yes, that looks much better.

[2022-07-22 12:43] alexswerner commented on #17
Very good, we'll set things up using ROS_DOMAIN_ID then.

Just out of curiosity, why don't we use a [https://docs.ros.org/en/foxy/Tutorials/Advanced/Discovery-Server/Discovery-Server.html](discovery server) in this scenario? It's a pretty lame centralized old school concept, but it would probably increase reliability and decrease confusion, especially in the classroom scenario where we want isolat

[2022-07-22 14:30] roni-kreinin commented on #17
For ROS2 Galactic we are using CycloneDDS which does not support this. It could be an interesting option to explore as we move towards Humble which uses Fast-DDS.

[2022-07-27 11:35] alexswerner commented on #13
Recently I left the robot outside the dock for too long, and it completely discharged the battery. Putting it onto the dock, the robot is again in the state where the battery is not charging. Now I know how to recovery from this, but resetting the battery pack. Is there a way to prevent this situation? IMHO the Create 3 app should automatically shut the robot down at e.g. 2% battery charge.

[2022-07-27 14:19] alexswerner commented on #13
It gets even weirder. In the state described in the last post (Battery level 0%), we had a power outage. After that the robot started to charge and is now at 100%. This kind of disproves that the battery pack needed a reset to be able to charge again.

[2022-07-28 00:23] kscottz commented on #17
Hi @alexswerner, sorry for the delay, Github notifications go to a different e-mail address so I don't always triage them in a timely manner.

My concern about ROS_DOMAIN_ID comes from feedback I heard from the F1 Tenth community. In that case they had approximately two dozen ROS 2 robots in a classroom setting (and closer to a few hundred at ICRA). Similarly I have heard of issues with ROS_DOMAIN

[2022-07-29 15:07] alexswerner commented on #17
When I look at the design of the multicast discovery mechnisms I totally believe that the F1 Tenth people had a bad experience with tens of robots (likely with ten or more of topics/services each), especially over Wi-Fi. We should really look into discovery server based operations, just because it creates lot less traffic. This is not about bandwidth, because discovery traffic is small packages. I

[2022-08-04 18:43] alexswerner commented on #14
Quite frequently, the controller does not pair with the robot. Even when holding it right next to the robot.

[2022-08-04 18:46] alexswerner commented on #16
Just having another look at this. After power up the communication between base and raspberry pi create a traffic of 500kbit/s and 300packets/second. For our application with 15 robots this would mean 4500packets/second which is, in an extremely rough estimation, a quarter of the maximum throughput of the Wi-Fi network. Is there any way to optimize this part? I remember you mentioned that there is

[2022-08-08 14:02] roni-kreinin commented on #13
I will ask the iRobot team for some input. Is this problem happening with just one robot or have you seen this on multiple?

[2022-08-08 14:16] roni-kreinin commented on #17
There shouldn't be any huge hurdles with Fast-DDS. We have just been targetting CycloneDDS for release so we don't have much documentation for using Fast-DDS. You may need to do some configuration to get it working nicely (https://fast-dds.docs.eprosima.com/en/v2.3.3/fastdds/ros2/ros2_configure.html). We have seen some users run in to issues with certain packages such as nav2 (https://github.com/i

[2022-08-12 12:23] HarshalDawar opened #22 "Robot Connectivity issues"
Hello,

I am using a Turltebot4 standard along with a laptop running
 - OS: Ubuntu 20.04
 - ROS Distro: Galactic

The discussion on create3docs [https://github.com/iRobotEducation/create3_docs/discussions/142](url) is regarding the robot losing connectivity after driving some distance.

Following the Quick start up tutorials of turtlebot4, a Laptop was used to connect(ssh) to the RPi and issue Und

[2022-08-12 14:59] roni-kreinin commented on #22
Can you detail your network setup? Are you using a bridged 2.4/5Ghz router?

Also can you check the Create 3 [adapter board](https://iroboteducation.github.io/create3_docs/hw/adapter/)? The USB/BLE switch should be in the USB position.

If it is in the USB position, can you place the robot on the dock with everything turned on, call `ip a` from the RPI, and post the output here?

[2022-08-12 16:02] alexswerner opened #23 "Create3 standby/storage mode: Correct reaction to buttons."
The Create3 documentation (https://iroboteducation.github.io/create3_docs/hw/face/) states:
[code]
and
[code]

Both action do not seem to be working when the robot is on dock. That seem to be expected - as discussed in another issue (still seems broken to me). However even with the robot off the dock, button 1 did still have no effect. Maybe this was due to the internal state of the robot. When th

[2022-08-12 16:12] roni-kreinin commented on #23
When the white light is still spinning on the Create 3 that indicates that it is still booting. Can you place the robot in standby mode when the white light is solid?

Also when the robot is in standby mode power is still supplied to external payloads.

[2022-08-12 16:37] HarshalDawar commented on #22
Hello,

I am using my University's WiFi network; all three systems are connected to the same access point, same SSID, which supports both 2.4 and 5 GHz. Upon running `ros2 multicast send/receive` I get responses on both, Laptop and RPi.

The adapter board is in the USB position.

When on dock with everything turned on, `ip a` gives me the following:
[code]

[2022-08-15 03:16] ddwy opened #25 "Why can't Turtlebot4 Lite raspberry Pie 4 automatically start the rplidar and camera after entering the system?"
Why can't Turtlebot4 Lite raspberry Pie 4 automatically start the rplidar and camera after entering the system?

[2022-08-15 14:18] roni-kreinin commented on #25
Can you expand further? The RPLIDAR and camera nodes should both be running on boot if you are using the standard TurtleBot 4 image.

[2022-08-15 14:24] roni-kreinin commented on #22
Can you copy the turtlebot4 service logs and paste them here please? Call `sudo journalctl -u turtlebot4.service -r -n 1000 --no-pager` to get the last 1000 logs.

[2022-08-15 14:57] dgel27 commented on #22
Hi, I also have connectivity problem with TB4.
The case is:

I have lost connection with Create® 3 only over WiFi.
When it happens, i still can connect to RPi over WiFi, and ping Create® 3 to his usb IP.
In this case i cannot control the robot from ROS2 Galactic Desktop.
The "COMM" led is OFF.

I found root case why the Create® 3 lost WiFi connection, and i think it its firmware bug, maybe you wil

[2022-08-15 15:08] roni-kreinin commented on #22
Currently the RPi does not route traffic from the `usb0` interface to the `wlan0` interface. This means that any ROS2 data coming from the Create 3 to the RPi over `usb0` is only visible to the RPi and not to your PC connected over WiFi. Similarly, any commands you send from your PC will only reach the RPi and not the Create 3. This is why it is currently recommended to have both the Create 3 and

[2022-08-15 15:24] dgel27 commented on #22
Hi Roni,
Thanks for the answer.
Maybe you could me help to setup option to route traffic.
I want build the system, in which 5G doungle connected to RPi (with additional ethernet port), connect external ethernet camera to eth port of RPi, and transfer video and TB4 controls only via 5G
Is it possible?

Thanks,
Dmitry

[2022-08-15 15:51] roni-kreinin opened #26 "Traffic routing from usb0 to wlan0"
**Describe the the feature you would like**
Configure the RPi4 to route ROS2 traffic from the Create 3 to the WiFi interface so that the Create 3 does not need to be connected to WiFi.

**Other notes**
- This will make the setup process easier and help with issues like #16, #17 and #22.
- The CycloneDDS `DontRoute` setting may no longer be necessary.

[2022-08-15 15:53] roni-kreinin commented on #22
@dgel27 I have created #26 to track this feature. I will test some configurations and let you know if I find a good solution for your setup.

[2022-08-15 16:00] HarshalDawar commented on #22
The turtlebot4 service logs as requested:
https://paste.ubuntu.com/p/zcRCgkgxn7/

[2022-08-16 01:40] ddwy opened #27 "I'm using turtlebot4_ lite_ galactic_ 0.1.1.zip image. Why can't the rplidar and camera start automatically after entering the system?"
I'm using turtlebot4_ lite_ galactic_ 0.1.1.zip image. Why can't the rplidar and camera start automatically after entering the system?

[2022-08-16 10:52] EndlessLoops commented on #25
Is it the newest lite and standard's image in this [link](http://download.ros.org/downloads/turtlebot4/)?And how to set running the rplidar and camera on boot when I use the TB4 lite ? I found In the TB4 lite it alway run the turtlebot4.service after boot,but it can't run normally the lidar and camera.

[2022-08-16 18:01] tfoote commented on #27
Duplicate #25

[2022-08-16 18:01] #27 closed, assigned to nobody

[2022-08-16 20:34] roni-kreinin commented on #25
0.1.2 is the latest image. Can you call `sudo journalctl -u turtlebot4.service -r -n 1000 --no-pager` and send over the logs from the `turtlebot4` service?

[2022-08-17 01:22] EndlessLoops commented on #25
I will install the latest lite image and test it.

[2022-08-17 02:13] EndlessLoops opened #29 "RViz2 can't show the correct model"
I found it  always can;t show the correct model in RViz2.

![RViz2_error_model](https://user-images.githubusercontent.com/36186893/185019150-25d0655a-bd2a-4b8b-9b60-4e0f96f47dfc.png)

[code]

[2022-08-17 07:15] duanmujie opened #30 "Maximum driving force of a standard Turtlebot 4"
Dear Turtlebot 4 supporting team,

I am a researcher from CUHK. Since I want to use the Turtlebot 4 to push an object, I want to know the maximum driving force of a standard Turtlebot 4. I only learned in the instruction document that its load is 9kg, but there is no data on the driving force. Could your team helped test the push functionality? This is very important to me, and I think relevant re

[2022-08-17 11:28] dgel27 commented on #26
Hi Roni,
Since the ROS used multicast packets, can forward packets to Create 3 by this way:

1. Set static IP on RPi usb0 interface in same range as RPi wlan0 interface;
2. Set static IP on Create 3 usb0 interface in same range as usb0 and wlan0 RPi interfaces;
3. Shut down link on wlan0 Create 3 interface
So, if packets multicast it will be forwarded from wlan0 RPi to usb0 RPi and to usb0 Create

[2022-08-17 14:13] roni-kreinin commented on #29
RVIZ is showing the robot model that is published to the `/robot_description` topic. Can you call `cat /etc/turtlebot4` on the RPi and make sure you are using the Lite image?

[2022-08-17 16:10] roni-kreinin commented on #30
We will do some testing and get you an answer.

[2022-08-17 16:47] EndlessLoops commented on #29
I have two robot. I use the tb4-standard and tb4-lite at the same time. Tb4-standard's porblem is that RViz can't show the correct model .

[2022-08-17 16:50] roni-kreinin commented on #29
Have you configured the `ROS_DOMAIN_ID` for each robot? You cannot have both robots on the same `ROS_DOMAIN_ID` otherwise their topics will interfere.

[2022-08-17 16:53] EndlessLoops commented on #29
I did it . They have different `ROS_DOMAIN_ID `and their communication work fine.

[2022-08-17 16:56] roni-kreinin commented on #29
Is the screenshot posted above when you are trying to view the Standard in RVIZ?

[2022-08-17 17:00] EndlessLoops commented on #29
Yes，it always show it .

[2022-08-17 17:04] roni-kreinin commented on #29
It is showing the correct model. Are you referring to the error messages from rviz2?

[2022-08-17 17:09] EndlessLoops commented on #29
Can't you see the Create® 3  multizone bumper separating from the robot in the above screenshot  ？

[2022-08-17 17:22] roni-kreinin commented on #29
This is just a visual bug. I already have an open ticket on the create3_sim repo (https://github.com/iRobotEducation/create3_sim/issues/170) so I will close this as duplicate.

[2022-08-17 17:22] #29 closed, assigned to roni-kreinin

[2022-08-17 17:31] roni-kreinin commented on #26
@dgel27 We are not able to change the static IP of `usb0` on the Create 3, and I don't think we want to. The solution I am looking at is using a multicast routing tool such as [smcroute](https://github.com/troglobit/smcroute) to route the multicast traffic from `usb0` to `wlan0`.

The latest TurtleBot 4 RPi images are available at http://download.ros.org/downloads/turtlebot4/. You can follow the i

[2022-08-19 03:37] ddwy opened #31 "there is no camera oakd-lite data"
I use a mirror image tutlebot4_ lite_ galactic_ 0.1.2.After the system is started, the camera oakd-lite cannot operate normally. When viewing the camera oakd-lite topic, there is no camera oakd-lite data.

[2022-08-19 04:11] ddwy commented on #31
Hello, mirror image tutlebot4_ lite_ galactic_ 0.1.2, The driver of the oakd Lite camera is not installed.

[2022-08-19 09:08] ddwy opened #32 "use NUC instead of raspberry Pie 4"
Hello, I now use NUC instead of raspberry Pie 4. What do I need to download? What do I need to configure?

[2022-08-19 14:23] roni-kreinin commented on #22
@HarshalDawar Can you try switching from CycloneDDS to Fast-DDS and see if the problem persists? On the Create 3 you can change DDS by using the [webserver](https://iroboteducation.github.io/create3_docs/webserver/application/). On the Pi and your PC you can `export RMW_IMPLEMENTATION=rmw_fastrtps_cpp`.

[2022-08-19 14:48] roni-kreinin commented on #31
@ddwy The driver is installed on the 0.1.2 image. Can you run `sudo journalctl -u turtlebot4.service -r ` and look for errors on the `rgb_stereo_node`?

[2022-08-19 14:55] roni-kreinin commented on #32
I'm not sure that the Create 3 will be able to power a NUC. If it can then you will need to install ubuntu 20.04 server. You can then try to follow the setup steps in the [turtlebot4_setup.sh](https://github.com/turtlebot/turtlebot4_setup/blob/galactic/scripts/turtlebot4_setup.sh) script. Some of those steps are RPi4 specific though.

[2022-08-22 18:51] alphalambdaepsilonxi opened #33 "Simplification of TurtleBot4) Networking"
I really like the concept of the Turtlebot4 - thanks a lot for designing it!

I would prefer if the icreate 3 is only connected to the Raspi4 using the USB interface to exchange data. It would be great to use the 2.4GHz Wifi only for setup and then disable it (not use it).
Three reasons for the wish are - might cause instability since transfer of important data is stopped even during small wifi co

[2022-08-22 19:05] roni-kreinin commented on #33
This is something I am currently working on. See #26.

I am having some issues with routing multicast data from `usb0` to `wlan0` on the RPi. If you have any suggestions, please post them under #26.

Closing as duplicate.

[2022-08-22 19:05] #33 closed, assigned to roni-kreinin

[2022-08-22 19:50] dgel27 commented on #26
The WiFi and BT on Create3 isn't so good (maybe antennas problem, and need add external)
I just found temporary solution for moving robot without Create3 BT and WiFi.
**This is not solve problem at all, just temporary solution that help me:**

1. Install teleop_twist_keyboard on RPi
2. Pair Joystick with PC
3. Install on the PC keyboard emulation soft like qjoypad or joytokey
4. Map keys used in t

[2022-08-22 20:50] roni-kreinin commented on #26
If you just want to drive the robot from your PC then this is an option. Another option is to use [topic_tools](https://github.com/ros-tooling/topic_tools) to relay the topic on the RPi. This only works for topics, and not actions/services unfortunately.

Another way to disconnect Create 3 WiFi completely is to perform a [factory reset](https://iroboteducation.github.io/create3_docs/webserver/abou

[2022-08-23 12:06] alexswerner opened #34 "Create3 boot issues"
Sometimes the Create3 base does not start correctly. I observe the white rotating white ring status, and later can hear the "Happy Sound". The base is connected to the Wi-Fi during parts of this process, which takes 2 to 5 minutes. After this a second boot cycle seems to start (back to rotating ring). This cycle repeats.

Here is the relevant log file.
[create3.log](https://github.com/turtlebot/tu

[2022-08-23 16:26] dgel27 commented on #26
Hi Roni,
I don't know ROS at all, but maybe it possible to do routing on CycloneDDS level?

I think it possible add [static](https://github.com/eclipse-cyclonedds/cyclonedds/blob/master/docs/manual/options.md#cycloneddsdomaindiscoverypeerspeeraddress) IP's in additional to multicast address.

Thanks!

[2022-08-23 18:15] roni-kreinin commented on #34
The `nodes_0: ddsi_udp_conn_write to udp/192.168.23.100:39163 failed with retcode -3` error usually indicates that one of the network interfaces that CycloneDDS is trying to use is not up. Is it possible that the WiFi connection is weak where you are setting the robot up? If its not, you can try switching to Fast-DDS. CycloneDDS currently has quite a lot of issues with using multiple interfaces th

[2022-08-24 07:21] HarshalDawar commented on #22
I haven't had access to the robot for the past few days. I will try that out and post the update soon.

[2022-08-24 13:44] alexswerner commented on #34
We did switch to fast-dds and things seem to be a bit more robust. Still observing. Wi-Fi could also be an issue and we will investigate this further.

That should help.

[2022-08-24 15:13] apopielas commented on #30
We tested the driving force for the Turtlebot4 and measured 47.2N on carpet and 44.8N on bare floor. Hopefully that helps!

[2022-08-24 21:40] alexswerner opened #35 "Configuration/Automated Setup"
We have now received our shipment of Turtlebot4 robots, and found that setup can be quite time consuming. What we apply right now to our robots:

# Step 1: Raspbery PI
- Connect to TurtleBot4 Wi-Fi
- log in via ssh (ubuntu@10.42.0.1 pw: turtlebot4) and execute
[code]
# Step 2: Base
- Put base in setup mode
- Joint Wi-Fi Create-XXXX
- Use browser to modify:
  - ROS_DOMAIN_ID
  - RMW implementation

[2022-08-24 21:44] alexswerner commented on #34
Further confirmation that fast-dds in general works, however the time for discovery seem to be quite long (minutes). I'm talking about the time between `ros2 topic echo /battery state` and the time the first message is printed. This could be many things, but this is the most important issue we are facing right now in the middleware area.
To address this: Is there any option to test the robot with

[2022-08-24 21:58] alexswerner commented on #23
The standby mode seem to work when the base is fully start (if it works), but I understand that it does not have the desired effect of powering down the payload. How are you charging your robots in an efficient way? We could do the following: stop lidar motor and stop ros system service on the raspberry pi. Or are there other options?

[2022-08-24 22:12] roni-kreinin commented on #35
- I have been working on a script that makes setting the ROS_DOMAIN_ID and RMW_IMPLEMENTATION much easier. You can test out the updated `install.py` and new `ros_config.sh` scripts from [here](https://github.com/turtlebot/turtlebot4_setup/tree/roni-kreinin/domain_id/scripts). The `ros_config.sh` script sends the ROS_DOMAIN_ID and RMW to the Create3 with a `curl` command, so the Create 3 doesn't ne

[2022-08-24 22:15] roni-kreinin commented on #34
I have noticed that `/battery_state` won't publish for some time after a reboot, unless the actual battery state changes. Try taking the robot off the dock, or testing with another topic like `/odom`. Regarding the discovery server, I am not familiar with what is required to set it up but users don't have any configuration access on the Create 3 beyond what is available on the webserver. This is a

[2022-08-24 22:20] roni-kreinin commented on #23
Generally I haven't had issues with charging while the standard payload is running. Do you run into the same issue with all of your turtlebots?

If you really want to power down the entire payload you can pull out the adapter board from the Create 3.

[2022-08-25 12:51] HarshalDawar commented on #22
Hi,
so for the change,
Create3 -> changed rmw_implementation to rmw_fastrtps_cpp via webserver, restart system.
Pi/ PC -> `sudo apt install ros-galactic-rmw-fastrtps-cpp`, `export RMW_IMPLEMENTATION=rmw_fastrtps_cpp`, restart system.
PC -> remove `export CYCLONEDDS_URI=/home/fhros/cyclonedds_pc.xml` ->
`<CycloneDDS>
    <Domain>
        <General>
            <DontRoute>true</DontRoute>

[2022-08-25 13:30] roni-kreinin commented on #22
@HarshalDawar Did you `export RMW_IMPLEMENTATION=rmw_fastrtps_cpp` after restarting your PC? If not, Galactic will default back to CycloneDDS. These issues look like you have conflicting RMW.

[2022-08-25 14:12] HarshalDawar commented on #22
I did that through my .bashrc. So it should have exported it again after the reboot as well.
Since the topics seemed to have disappeared once earlier, I did the reboot. But as of the last trial, the topics were listed, yet I was not able to receive any data over them, example, for battery status. I will cross check once with the fastrtps setup again and update if anything changes.

[2022-08-25 15:02] roni-kreinin commented on #35
Regarding the webserver, you can do this to skip putting the Create 3 into AP mode:

On the RPI4:
- `sudo apt install socat`
- `socat TCP-LISTEN:8080,fork,reuseaddr tcp:192.168.186.2:80 &`

On your PC:

Go to a browser and enter the IP address of your RPi at port 8080. e.g. `192.168.0.189:8080`. The Create 3 webserver should load.

The `socat` command will not persist through reboots so I will fin

[2022-08-25 15:07] alexswerner opened #37 "Raspberry pi not reachable via ethernet interface"
We accidentially misconfigured the Wi-Fi on one robot and now try to recover it from this state. Connecting via ethernet as described here https://turtlebot.github.io/turtlebot4-user-manual/troubleshooting/faq.html does not succeed, there is link on the interface, but the robot is not reachable via `192.168.185.3` (no ping). On other robots I see that there is no address assigned to the ethernet i

[2022-08-25 15:11] alexswerner commented on #35
Thanks. I think the suggestions address the issues. We'll keep testing.

[2022-08-25 15:11] #35 closed, assigned to roni-kreinin

[2022-08-25 15:21] roni-kreinin commented on #37
Can you send the output of `cat /etc/netplan/50-cloud-init.yaml`?

[2022-08-25 19:05] alexswerner commented on #26
Solving this issue would make our robots run much more stable. I would guess that many issues we reported so far (e.g. base no finish "boot" state) are most likely Wi-Fi connection issues. I'm on a university campus here and our 2.4Ghz band is basically unusable. I tried to improve the reliability of the 2.4Ghz Wi-Fi connection to the base (20Mhz bands, reduce available rates) but this did not hel

[2022-08-25 19:21] alexswerner commented on #37
Here
[code]

And here are some relevant lines from journalctl
[code]

Hope this helps.

[2022-08-26 15:23] roni-kreinin commented on #37
Was this taken while the ethernet cable was connected?

[2022-08-26 21:22] alexswerner commented on #37
No this was another robot without the cable connected. We did not find the time to open up the bricked robot yet.

[2022-08-26 23:17] alexswerner commented on #26
Just out of curiousity I investigated further if the smcroute path is feasible. So far, I could get smcroute to forward ROS2 multicast traffic successfully - with working routing between two networks. However, in the use case of multiple Turtlebots on one Wi-Fi, there are typically no routes set on the external computers to reach the internal network. Hence some NAT has to be introduced. I was als

[2022-08-27 05:05] dgel27 commented on #26
Hi @alexswerner , could you provide configurations for multicast routing setup? I have tried, see, that packets are  forwarding, but this still stay the bot uncontrolled. Thanks!

[2022-08-29 13:55] roni-kreinin commented on #26
Yes, if you could provide your configuration details that would be great.

[2022-08-29 14:56] alexswerner commented on #26
So in the working case (non-Turtlebot), there are two subnets (A=192.168.45.0/24 and B=192.168.46.0/24) connected by a gateway host running smcroute (from source). On the gateway eth0 is connected to subnet B and eth1 connect to subnet A. Host in both subnets can reach each other, there is no NAT happening on the gateway. The smcroute configuration is the following:
[code]
In this test case, I can

[2022-08-29 15:42] roni-kreinin commented on #26
This is pretty much the setup that I had, minus the NAT rules. From what I understand, DDS uses multicast just for discovery and tries to use unicast when possible for actual data transfer. This is why we see the remote PC try to directly send data to `192.168.186.2`. I think it may be possible to add routes on the RPi to route the unicast data between `wlan0` and `usb0`, but this would likely req

[2022-08-29 15:54] alexswerner commented on #26
I justed tried the setup without NAT. My Wi-Fi normally uses the subnet 192.168.23.0/24. I now created a route `192.168.24.0/24 via 192.168.186.3` on base via DHCP. Meaning the base Wi-Fi is on and is in the subnet 192.168.23.0/24, but gets this additional route.

On the RPI, I did this:
[code]

Then on the client, which is also part of the Wi-Fi I removed the 192.168.23.X ip address, but added
[c

[2022-08-29 16:00] roni-kreinin commented on #26
Can you try performing a [factory reset](https://iroboteducation.github.io/create3_docs/webserver/about/#:~:text=set%20to%20USB.-,Factory%20Reset,-A%20hyperlink%20to) on the Create 3? This should completely reset the WiFi to not connect to anything and should make the Create 3 use only `usb0` for ROS.

[2022-08-29 17:05] alexswerner commented on #26
Just this would remove the opportunity to add this route to the base. Or do you want to say that this route is then potentially unnecessary without the base Wi-Fi being configured and all traffic would flow to the raspberry pi?

[2022-08-29 19:19] roni-kreinin commented on #26
The goal is for users to not have to set up the Create 3 WiFi at all. We want the RPI4 to act as a router between the Create 3 and the users remote PC.

Thanks to your experimentation I think I have found a working solution. Here are the steps I have taken:

On the Create 3:
- Use `rmw_fastrtps_cpp`.
- Connect to WiFi network with wrong password or perform a factory reset to disable WiFi.
- ROS2 d

[2022-08-29 19:37] roni-kreinin commented on #26
I have tested this with `rmw_cyclonedds_cpp` and it works as well. The `<DontRoute>true</DontRoute>` option in the cyclonedds config is still required though.

[2022-08-29 19:49] alexswerner commented on #26
I tried to implement this without a factory reset and that was not able to succeed. This issue was that even when i specified wrong Wi-Fi credentials, the Create3 remembered the old ones and re-joined the Wi-Fi. Still working on it.

[2022-08-29 20:19] alexswerner commented on #26
No success so far. Replicating your setup even `ping 192.168.186.2` from the client fails (as there is no NAT). Can you run `tcpdump` on the client e.g. like this: `sudo tcpdump -i wlo1 -n -vvv net 192.168.186.0/24` and post the output here?

And to clarify, is `/proc/sys/net/ipv4/ip_forward` really 0 in your setup?

[2022-08-29 20:35] roni-kreinin commented on #26
Sorry looks like I didn't notice the Create 3 connect back to WiFi which is why it looked like it worked... I'll keep looking into this.

Also I did set `ip_forward` to 1, just forgot to mention it.

[2022-08-30 07:52] ddwy opened #38 "Is there another way to start create3？"
Is there another way to start create3？

[2022-08-30 14:50] alexswerner commented on #26
For now, it is no longer clear if pushing an additional route to the base via DHCP is possible as the base runs udhcpc (Busybox) which does not implement additional classless routes (121 option). Why these approaches seemed to work beforehand is beyond me right now. Moving the default gateway to 192.168.186.3 is not viable as well as the default gateway is bound to the Wi-Fi interface. Needs furth

[2022-08-30 16:23] alexswerner commented on #26
I have opened a ticket for Fast-DDS if multicast-only discovery/communication setup is possible. See https://github.com/eProsima/Fast-DDS/issues/2934

[2022-08-30 16:47] roni-kreinin commented on #26
I have a test setup with 2 RPI4's like this : `(User PC) <-- WiFi --> (RPI4-1) <-- Ethernet --> (RPI4-2)`. RPI4-2 represents the Create 3 in this case. I was able to set up the Fast-DDS discovery server on RPI4-1 and successfully discovered RPI4-2 topics from the User PC. I still could not see topic data on the User PC so the unicast routing is still an issue, but at least the multicast discovery

[2022-08-30 17:34] alexswerner commented on #26
Nice experiment. I agree that the discovery server is the way to go, but for other reasons. If you talk with iRobot my suggestion is to have a low priority default route in `/etc/network/interface`. Right now it reads
[code]
just appending
[code]
Should give us a working system and any route added through udhcpc would have a lower (preferable) metric.

[2022-08-30 19:05] Tanjim13 opened #39 "Cannot ssh into Raspberry Pi of turtlebot4"
I am working with turtlebot4. I was setting my connection with my lab's wifi SSID. After using this command "sudo wifi.sh -s '<WIFI_SSID>' -p '<WIFI_PASSWORD>' -r <REGULATORY_DOMAIN> && sudo reboot" my turtlebot4's IP address did not upgraded on the LED screen. I connected the create3 with the router. Then I restarted the turtlebot4. Now the led screen is black. And I cannot ssh into the raspberry

[2022-08-30 20:02] roni-kreinin commented on #39
@Tanjim13 Can you try to SSH into the Pi over ethernet? Instructions [here](https://turtlebot.github.io/turtlebot4-user-manual/troubleshooting/faq.html#access-the-rpi-over-ethernet).

[2022-08-30 20:02] roni-kreinin commented on #38
The Create 3 can only be turned on by placing it on the dock.

[2022-08-30 20:02] #38 closed, assigned to nobody

[2022-08-30 21:46] Tanjim13 commented on #39
@roni-kreinin Thank you so much. It worked.

[2022-08-30 21:55] roni-kreinin commented on #26
I have managed to get the discovery server setup working properly, but, as you mentioned, it requires adding a route to the Create 3.

Here is the setup:
[code]

`User PC`:
- Configure FastRTPS to be a [super client](https://fast-dds.docs.eprosima.com/en/latest/fastdds/ros2/discovery_server/ros2_discovery_server.html#daemon-s-related-commands)
- `export ROS_DISCOVERY_SERVER="192.168.0.187:11811"`

[2022-08-31 00:16] aalghooneh opened #40 "ros2 launch turtlebot4_navigation nav_bringup.launch.py slam:=off localization:=false map:=office.yaml, stuck at creating map"
- Ubuntu 20.04
 - ROS Distro: Galactic
 - Built from source or installed: this repo
 - Package version: (current version)

 **Expected behaviour**
map getting published into /map topic

 **Actual behaviour**
stuck at creating map

**To Reproduce**
have an example map (yaml and pgm)
ros2 launch turtlebot4_navigation nav_bringup.launch.py slam:=off localization:=false map:=office.yaml

** The log I

[2022-08-31 16:53] alexswerner commented on #26
Here is a work around to the problem we experience with multi-cast routing. This uses a Layer 2 VPN (openvpn) to give the client PC access to the internet usb0 network (192.168.186.0/24).

On raspberry PI
$ openvpn --genkey --secret static.key

Have `server.cfg` with
[code]
`up.sh`
[code]
`down.sh`
[code]

Start VPN server
[code]

On client
$ scp RPI:static.key ./
Have file `client.cfg`
[code]
Sta

[2022-08-31 21:57] Tanjim13 opened #41 "ROS_DOMAIN_ID problem with Turtlebot4"
Hi, I am trying to set up a different ROS_DOMAIN_ID for eight TurtleBot4 under the same wifi router. Can anyone show me the instructions?  Do I need to set it up manually(how)? .  If anyone has any good documentation let me know. Thanks in advance. I think I have solved the issue following this [link](https://turtlebot.github.io/turtlebot4-user-manual/software/turtlebot4_packages.html#installing).

[2022-09-01 00:19] #41 closed, assigned to nobody

[2022-09-01 00:22] Tanjim13 commented on #14
Same with my controller. It was not showing any sign of life. The reset button saved its life.

[2022-09-01 04:20] nidia-bucarelli opened #42 "I cannot connect the Raspberry using ethernet"
I am trying to SSH into the Pi over ethernet using the instructions from this link: https://turtlebot.github.io/turtlebot4-user-manual/troubleshooting/faq.html#access-the-rpi-over-ethernet. I am using Windows. I was able to connect the Pi through an adapter (ethernet - USB). However, I cannot set the manual connection. I get an error. See images below.

<img width="583" alt="Capture2" src="https:/

[2022-09-01 11:25] alexswerner commented on #34
I believe the issues I was having where very likely all network-related. I also find that `/battery_state` is not reliably published when the robot is on the base.

[2022-09-01 11:25] #34 closed, assigned to roni-kreinin

[2022-09-01 11:29] alexswerner commented on #16
Due to recent experiments with 15 turtlebot4 I think the Wi-Fi traffic in idle is indeed considerable. It was fluctuating between 0.5Mbit/s and 4Mbit/s (for all robots) - which is lower than anticipated, but still. A solution can hopefully be found through #26

[2022-09-01 11:29] #16 closed, assigned to roni-kreinin

[2022-09-01 11:33] alexswerner commented on #17
Just to update this ticket with the recent information. We tried to operate 15 robots at once using the setup described above and there was little to no success of having even a majority join the Wi-Fi and be operational. All errors were related to the base not connecting to the Wi-Fi correctly or disconnecting after some time. The Wi-Fi connection of the Raspberry PI is no issue, so we are implem

[2022-09-01 11:34] alexswerner commented on #17
Accidentially closed this

[2022-09-01 13:29] roni-kreinin commented on #42
Can you scroll down to show the rest of the settings?

Also you want to set your IP address on the `192.168.185` subnet, and set the gateway to `192.168.185.1`.

If its possible to set DNS to automatic, do that.

[2022-09-01 13:30] roni-kreinin commented on #40
Are you launching this from the directory that `office.yaml` and `office.pgm` are located in? If not, try using the absolute path.

[2022-09-01 13:30] #39 closed, assigned to roni-kreinin

[2022-09-01 14:50] alexswerner commented on #13
We have seen this issue (not charging any more) on one robot so far. But we avoided discharging the robots completely after this issue was createed. And with the knowledge that when turtlebot is on the base, the `/battery_state` topic is not to be trusted things are more consistent. Since battery state reporting via ros is inconsistent it is only the base/the adapter board which can react correctl

[2022-09-01 14:52] alexswerner commented on #23
We did not test this more in depth (because of the Wi-Fi issues). I will report once more testing is done with the robots off the dock.

[2022-09-01 16:00] aalghooneh commented on #40
@roni-kreinin , I am at the directory, though even including the absolute path doesn't help

[2022-09-01 16:19] nidia-bucarelli commented on #42
I cannot make DNS automatic.
I changed the settings as instructed, still getting an error.
<img width="349" alt="Capture" src="https://user-images.githubusercontent.com/112603498/187963540-6692cdc6-ccc4-479a-9dee-f7b3e35fcdc0.PNG">

There are no many additional settings:
<img width="326" alt="Capture1" src="https://user-images.githubusercontent.com/112603498/187963570-e75cda3a-07e9-4eb4-9d8d-b9036

[2022-09-01 18:00] nidia-bucarelli commented on #42
I was able to get connected to the PI using ssh ubuntu@192.168.185.3.
But the Pi does not want to connect to the Internet.

I tried an open network and my phone as a Hostpost. Nothing is working.

<img width="597" alt="Capture" src="https://user-images.githubusercontent.com/112603498/187981980-4898d08c-8089-4556-bd6f-02ab9fb56276.PNG">

<img width="594" alt="Capture1" src="https://user-images.gith

[2022-09-01 18:21] roni-kreinin commented on #42
Can you try using single quotation marks around the ssid and password? i.e. `sudo wifi.sh -s 'Nidia Bucarelli (2)' `.

[2022-09-01 18:25] roni-kreinin commented on #40
Does setting localization to `true` not work either?

[2022-09-01 18:38] nidia-bucarelli commented on #42
I just tried that using my phone as a Host. It seems to be working. The screen is now ON and I can see the ip address.

But I cannot make it work with the open network.
I am using  `sudo wifi.sh -s 'IllinoistNet_Guest' -r US && sudo reboot`  and I am not getting a connection. Any feedback?

[2022-09-01 18:46] roni-kreinin commented on #42
The `wifi.sh` script does not currently account for open networks. I will make a change to fix that.

Meanwhile you can manually edit the netplan configuration.

`sudo nano /etc/netplan/50-cloud-init.yaml`

Under the `wifis` section you should see something like:

[code]

You will want to delete the `password: ""` line, and add `{}` after the SSID like this:

[code]

Save those changes and then ca

[2022-09-01 20:45] aalghooneh commented on #40
@roni-kreinin it doesn't! When you replicate this, Does it work for you?
or even something like this:
ros2 run nav2_map_server map_server $PWD/map.yaml
it locks in creating map.

Edit: ros2 lifecycle set /map_server configure solves the nav2 problem

[2022-09-01 21:43] nidia-bucarelli commented on #42
Thank you!
I changed the file. I saved it as instructed. It still does not work. I have pasted some pictures below.
Any feedback?

<img width="947" alt="Capture1" src="https://user-images.githubusercontent.com/112603498/188017922-96a6aebd-91f7-419c-be2c-11dacc21dd9e.PNG">

<img width="477" alt="Capture2" src="https://user-images.githubusercontent.com/112603498/188018146-fe3dc07b-fe82-4935-9c4a-14c

[2022-09-01 23:02] nidia-bucarelli commented on #42
I also tried to use a WIFI from a router using `sudo wifi.sh -s 'NidiaRouter' -p '12345678' -r  US && sudo reboot` . It did not want to work either. The screen is still ON, and it shows the IP address that is shown when I use my phone, but it is not connected.

So far, I can get internet only if i use my hostpost.

[2022-09-01 23:49] nidia-bucarelli opened #43 "ros2 topic list does not show the Create3 is publishing topics"
I connected my robot to WIFI using the browser (192.168.10.1). The robot played a chime.
When I run `ros2 topic list` on my pc, I cannot see the Create3 topics.

[2022-09-01 23:58] nidia-bucarelli commented on #43
I see the list now.

[code]

[2022-09-01 23:58] #43 closed, assigned to roni-kreinin

[2022-09-06 12:54] alexswerner commented on #37
With another robot I could now successfully connect via Ethernet. Hence, the configuration seems to be correct. I am suspecting that the SD card / filesystem of the raspberry pi was corrupted as reflashing that helped. That latter issue I have seen with multiple robots. The display does not light up again. I do not have access to a micro-HDMI adapter so further investigation will have to wait.

[2022-09-07 04:07] nidia-bucarelli opened #44 "I cannot see the robot in rviz."
Hi!
I am connected to my robot. As instructed, I ran `ros2 launch turtlebot4_navigation slam_sync.launch.py`.  I opened a new terminal and I ran `ros2 launch turtlebot4_viz view_robot.launch.py`.

I cannot see the robot n rviz.
I also get the Info below about stereo.

Any feedback? thank you!

`nidia@nidia-UX303LAB:~$ source /opt/ros/galactic/setup.bash
nidia@nidia-UX303LAB:~$ ros2 launch turtlebo

[2022-09-07 13:34] Kohl-Stefan opened #45 "Navigation with rviz on already mapped room doesn't work properly"
- OS: Ubuntu 20.04
 - ROS Distro: Galactic
 - Installed: turtlebot4-navigation
 - Package version: 0.1.0-1focal.20220526.144025

I would like to navigate through an already mapped room with
`ros2 launch turtlebot4_navigation nav_bringup.launch.py slam:=off localization:=true map:=room1.yaml` by using the "Nav2 Goal" tool in Rviz.

The path planning seems to work since I can see the planned path on

[2022-09-07 15:48] nidia-bucarelli commented on #42
I solved this issue. Thanks!

[2022-09-07 15:48] #42 closed, assigned to roni-kreinin

[2022-09-07 16:22] Tanjim13 opened #46 "OAK-D Pro on turtlebot4 standard Not working"
- OS: (e.g. Ubuntu 20.04)
 - ROS Distro: (e.g. Galactic)
 - Turtlebot4 Standard
I ssh into raspberry pi and run this.

"ros2 launch turtlebot4_bringup oakd.launch.py"

I get a warning and an error.

[rgb_stereo_node-1] [2022-09-07 16:11:29.846] [warning] Insufficient permissions to communicate with X_LINK_BOOTED device having name "2.1". Make sure udev rules are set
[rgb_stereo_node-1] terminate c

[2022-09-12 03:56] #46 closed, assigned to roni-kreinin

[2022-09-12 03:58] Tanjim13 commented on #46
I have successfully connected it.

[2022-09-12 04:10] Tanjim13 commented on #44
@nidia-bucarelli I am not so sure about it. But kill/destroy the running nodes of ros in the turtlebot and start again.

[2022-09-12 14:17] roni-kreinin commented on #40
It does work for me with localization. Have you tried creating your own map and testing with that?

[2022-09-12 14:19] roni-kreinin commented on #44
The stereo message can be ignored.

Are you able to see all of the turtlebot4 topics in the terminal that you are running `view_robot.launch.py` from?

[2022-09-12 14:23] roni-kreinin commented on #45
Can you run `sudo apt install ros-galactic-turtlebot4-navigation` to update navigation to 0.1.1? There was a bug in 0.1.0 that caused the AMCL node to die like it does in this case.

[2022-09-12 16:16] nidia-bucarelli commented on #44
When I run view_robot.launch.py this is the only message that I can see. I don't see the TB.

[code]

[2022-09-12 16:17] roni-kreinin commented on #44
Can you run `ros2 topic list` in that terminal?

[2022-09-12 16:24] nidia-bucarelli commented on #44
This is how it looks like:

`nidia@nidia-UX303LAB:~$ source /opt/ros/galactic/setup.bash
nidia@nidia-UX303LAB:~$ ros2 topic list
/clicked_point
/downsampled_costmap
/downsampled_costmap_updates
/global_costmap/costmap
/global_costmap/costmap_updates
/global_costmap/voxel_marked_cloud
/initialpose
/local_costmap/costmap
/local_costmap/costmap_updates
/local_costmap/published_footprint
/local_costma

[2022-09-12 17:30] roni-kreinin commented on #44
It looks like none of the turtlebot4 topics are showing. Can you make sure the robot is properly connected and on the same `ROS_DOMAIN_ID`?

[2022-09-12 19:05] Tanjim13 opened #47 "Network Problem, It is Urgent"
![ISSUE](https://user-images.githubusercontent.com/18646128/190108514-19152c5e-c9f0-4efc-93ed-b3af7d29ce36.jpg)
Hey, I have a problem with turtlebot4 connection. After ssh into raspberry pi, when I want to work, my connection is disconnected automatically. Do you have any suggestions? I have tried with another bot. Does it have any issue with the router? I am using TP-Link AC1900 Smart WiFi Router

[2022-09-13 06:44] nidia-bucarelli commented on #44
The robot is connected. I am using Ubuntu Desktop, and I have the ROS_DOMAIN_ID set to 1. For the TB4, it also has been set to 1 (See below). When I run `ros2 launch turtlebot4_navigation slam_sync.launch.py` and then I run ros2 node list (using a new terminal) TB4 does not show up.

`ubuntu@ubuntu:~$ printenv | grep -i ROS
ROS_VERSION=2
ROS_PYTHON_VERSION=3
ROS_DOMAIN_ID=1
AMENT_PREFIX_PATH=/opt/

[2022-09-13 09:56] Kohl-Stefan commented on #45
Yes now it is working thank you.

[2022-09-13 15:01] roni-kreinin commented on #44
The `ROS_DOMAIN_ID` needs to also be set when installing the `robot_upstart` job that runs turtlebot4 nodes in the background. Try running `uninstall.py` on the TB4 to uninstall the job, then run `install.py standard 1` to reinstall the job for a standard TB4 with ROS_DOMAIN_ID=1.

[2022-09-13 18:15] nidia-bucarelli commented on #44
I did that. It still does not work.

[2022-09-13 18:25] roni-kreinin commented on #44
Can you call `ros2 topic list` on the RPI and make sure that the topics are showing?

[2022-09-13 18:42] nidia-bucarelli commented on #44
Below are my topics. Am I missing something? I am new user in ROS and Ubuntu so it is hard for me to tell.

[code]

[2022-09-13 18:51] roni-kreinin commented on #44
This looks correct for the TB4 nodes, however the Create 3 topics seem to be missing. Make sure you have set the ROS_DOMAIN_ID to 1 on the Create 3 as well by using the webserver.

[2022-09-13 21:31] nidia-bucarelli commented on #44
I changed the ROS_DOMAIN_ID to 1 on the Create 3.
The list of topics on the RPI is still the same.

Below is is the list of topics when I run `ros2 topic list `on my computer.

nidia@nidia-UX303LAB:~$ ros2 topic list
/battery_state
/cmd_audio
/cmd_lightring
/cmd_vel
/dock
/hazard_detection
/imu
/interface_buttons
/ir_intensity
/ir_opcode
/kidnap_status
/mouse
/odom
/parameter_events
/robot_state/t

[2022-09-13 21:39] roni-kreinin commented on #44
Are your 5Ghz and 2.4Ghz networks bridged? It looks like your computer and the Create 3 are on the same network, while the RPi is on a different network.

If you are unable to bridge the 2.4/5Ghz networks then you can try just connecting the RPi4 to the 2.4GHz network that the Create 3 is on. You will notice reduced performance with streaming the camera data in this case.

[2022-09-14 08:56] Tanjim13 commented on #47
@roni-kreinin , can you kindly tell me what is the problem? I want to know the network requirements. Let me know as soon as possible. And it is more like a router thing cause if I change the router it works. Please let me know what is the problem, I need to sort out this problem as soon as possible.

[2022-09-14 14:47] roni-kreinin commented on #47
@Tanjim13 this does seem to be an issue with your router. You may need to go into its settings and see if there is a firewall or some security settings that are blocking this. I personally use a TP-Link Archer-C1200 with default settings and haven't run into this issue before. There are some solutions posted [here](https://askubuntu.com/questions/899009/sudo-apt-update-always-giving-clearsigned-fi

[2022-09-14 17:28] nidia-bucarelli commented on #44
I connected my RPI, computer and the iCreate to a personal router. I can see my robot in Rviz, and i was able to create my map. Thank you!!

However, when I connect the RPI, computer and iCreate to an open network (e.g., university network) I cannot see my robot in Rviz.  I need to be able to use the university network so I can move the robot around. Do the devices use broadcast or mdns to discove

[2022-09-14 19:37] roni-kreinin commented on #44
Discovery is done with multicasting, so it might be that the university network is blocking it.

[2022-09-14 19:44] Tanjim13 commented on #47
@roni-kreinin , Thank you for the response. Yes, I have figured it out. The router was in access point mode. I need to change it to router mode. So, it is working fine.

[2022-09-14 19:44] #47 closed, assigned to roni-kreinin

[2022-09-15 00:46] Tanjim13 commented on #44
@nidia-bucarelli,  what is the ip adress of the turtlebot4, when you are connected to university's wifi network?

[2022-09-15 05:32] nidia-bucarelli commented on #44
@Tanjim13
When I get connected to the university network, the ipd address for the RPI and iCreate are below, respectively.
172.16.99.91
172.16.99.164

[2022-09-15 05:34] nidia-bucarelli commented on #44
@roni-kreinin is that mdns? Does it have a “ptr name” or “service id?

[2022-09-15 05:58] dgel27 commented on #44
@nidia-bucarelli The open networks usually created for guests, and main security parameters of it  is client isolation. So each connected client could reach internet, but without connections between connected clients. you can check it with 2 laptops connected to WiFi, if then have ping between them

[2022-09-15 15:57] roni-kreinin commented on #44
@nidia-bucarelli mdns is a protocol for resolving hostnames for IP addresses. For example it would let your RPi know that `172.16.99.164` is the Create 3. If that is blocked then it may cause issues, although I am not familiar with mdns.

As @dgel27  suggested, can you try pinging both devices from your computer?

[2022-09-15 15:58] #45 closed, assigned to roni-kreinin

[2022-09-15 15:59] roni-kreinin commented on #32
Closing because of no activity. Feel free to reopen.

[2022-09-15 15:59] #32 closed, assigned to nobody

[2022-09-15 16:00] roni-kreinin commented on #30
Closing because of no activity. Feel free to reopen.

[2022-09-15 16:00] #30 closed, assigned to nobody

[2022-09-15 16:01] roni-kreinin commented on #15
Closing because of no activity. Feel free to reopen.

[2022-09-15 16:01] #15 closed, assigned to roni-kreinin

[2022-09-15 16:02] #10 closed, assigned to roni-kreinin

[2022-09-16 15:13] Kohl-Stefan opened #48 "`ros2 launch turtlebot4_viz view_model.launch.py` makes ros2 nodes disappear"
OS: Ubuntu 20.04
ROS Distro: Galactic
Installed: ros-galactic-turtlebot4-viz
Package version: 0.1.0-1focal.20220730.081410

When launching the `ros2 launch turtlebot4_viz view_model.launch.py`, we would like to see the Rviz overview and expect the other turtlebot nodes continuously to work.

The Rviz graphic appears, but the turtlebot nodes disappear. From there on they either come and go or they

[2022-09-19 15:54] roni-kreinin commented on #48
@Kohl-Stefan Can you try calling `ros2 node list --no-daemon` and see if the nodes show up after rviz is launched? This looks like more of an issue with ros2 cli.

For viewing the camera image you may find better results using a separate application. Try running `ros2 run rqt_image_view rqt_image_view`.

The default OAK-D node should be publishing both the color preview image, and the depth image.

[2022-09-19 23:53] Tanjim13 opened #49 "Wireless controller connection issue"
![Screenshot from 2022-09-20 05-46-20](https://user-images.githubusercontent.com/18646128/191138542-cbb5fa0d-ab4f-490f-bbc8-5713e82a05ba.png)

I have followed the manual. Also trying to connect with the same controller, that has come with the turtlebot4. I need a solution as early asap.
Thank you.

[2022-09-20 00:58] Tanjim13 commented on #49
This solved the issue.

![bluetooth_solve](https://user-images.githubusercontent.com/18646128/191144411-400bfa80-ac52-40c3-9699-c2e2c20f2fdf.png)

[2022-09-20 00:59] #49 closed, assigned to roni-kreinin

[2022-09-20 09:49] Amarok-shd opened #50 "TurtleBot4 Wifi troubleshooting"
TurtleBot4 lite while setting it up with our internal wifi setting with the help of the turtlebot4 manual.

While setting up the WIFI Setup, After SSH into the Raspberry Pi to configure its WiFi.and while configuring the Raspberry Pi's WiFi.

I am unsure if I gave the correct WIFI_SSID or password for our WIFI setting. after which I am unable to check the /ip topic for the new address. and unable

[2022-09-20 16:11] roni-kreinin commented on #50
Try connecting to the Pi over ethernet as described here https://turtlebot.github.io/turtlebot4-user-manual/troubleshooting/faq.html#access-the-rpi-over-ethernet

[2022-09-20 16:57] Amarok-shd commented on #50
Using the ethernet interface, 192.168.185.3 I was able to ping with the turtlebot4 lite. Using the Win 10
and using PuTYy I am able to start the command window, but I don't know what is the login and password criteria.

Can you help me move forward?

[2022-09-20 17:00] roni-kreinin commented on #50
It is the same SSH credentials. Username: `ubuntu` Password `turtlebot4`.

[2022-09-20 17:11] Amarok-shd commented on #50
So, after this how should I SSH back of Turtlebot API

[2022-09-20 17:28] roni-kreinin commented on #50
Once you have entered the credentials you should be SSH'd into the Turtlebot4. Then you can run the `wifi.sh` script again to set up WiFi.

[2022-09-21 06:03] Amarok-shd commented on #50
Thank you sir, i was able to go back to Turtlebot4 API

I will close this issue.

[2022-09-21 06:03] #50 closed, assigned to nobody

[2022-09-21 16:34] Tanjim13 opened #51 "ros2 launch depthai_examples yolov4_publisher.launch.py not publishing topics"
I am having a problem with this script. When I echo topics of this script it is not showing me any data on the terminal. I have tried to echo "/color/yolov4_Spatial_detections, /color/image, /stereo/depth" topics which should be published according to the script. Even I do not see any errors.
![Screenshot 2022-09-21 at 12 32 54 PM](https://user-images.githubusercontent.com/18646128/191561033-f0272

[2022-09-21 17:07] roni-kreinin commented on #51
I am seeing the same thing. This is an issue with the `depthai_examples` package though, so can you move this issue to https://github.com/luxonis/depthai-ros-examples?

[2022-09-21 20:34] catalinamurray opened #52 "Wifi connection"
Hi, I have the Turtlebot 4 Standard and I am running it on,
 - OS: Ubuntu 20.04
 - ROS Distro:  Galactic

I am having trouble connecting the rasberry pi and connect 3 to wifi. I keep getting the error "activation of network connection failed".

I am also having trouble powering the Turtlebot 4 standard off, I push the power button and it flashes 3 times but it won't make the chime or power off for

[2022-09-22 11:42] Srimathi-tw opened #53 "Ros2 topic list does not show the Create3 is publishing topics for turtebot4 lite"
**Please provide the following information:**
 - OS: Ubuntu 20.04
 - ROS Distro: Galactic

 **Expected behaviour**
After following the setup instruction [https://turtlebot.github.io/turtlebot4-user-manual/overview/quick_start.html](https://turtlebot.github.io/turtlebot4-user-manual/overview/quick_start.html) with **turtlebot 4 lite** on typing `ros2 topic list` in pc it should show create 3 topics

[2022-09-22 15:18] roni-kreinin commented on #53
Can you try calling `killall _ros2_daemon` and then run `ros2 topic list` again?

[2022-09-22 15:19] roni-kreinin commented on #52
Where are you seeing this network error?

To power cycle the robot try pressing and holding the power button for 20-30s until the lightring turns off.

[2022-09-22 16:20] Srimathi-tw commented on #53
The above mentioned resolution works with our personal hotspot. But we want to try using corporate hotspot, so we tried following this link [https://iroboteducation.github.io/create3_docs/setup/xml-config/](https://iroboteducation.github.io/create3_docs/setup/xml-config/)

We used the below code
[code]
and changed `${ROBOT_IP}` to our custom Robot IP, but on doing `ros2 topic list` we only see
[co

[2022-09-22 16:33] roni-kreinin commented on #53
Did you use the RPi4 IP or Create 3 IP for the `${ROBOT_IP}`?

[2022-09-22 17:07] Srimathi-tw commented on #53
We were using raspberry pi IP address

[2022-09-22 19:09] roni-kreinin commented on #53
I believe for the create 3 instructions you should be using the Create 3's WiFi IP.

[2022-09-22 21:16] nidia-bucarelli commented on #44
Hi,
We have some additional information that we wish to seek advice on while working with our campus IT staff. In doing some further troubleshooting, we have discovered a few more technical details on how the Turtle Bot unit is physically connected and understanding how it connects the various components together.

We see that there are two “units” a Raspberry PI as well as the iRobot Create. Both

[2022-09-23 15:48] Tanjim13 commented on #51
I have already posted it in their forum.

[2022-09-23 16:30] Tanjim13 opened #54 "Connecting Turtlebot 4 to the virtual machine(UTM, VirtualBox,etc)"
Hi,
I am trying to connect my turtlebots using a virtual machine(UTM, VirtualBox, ). When I try it without virtual box(such as a directly Linux-installed laptop), I get the topic list from Turtlebot 4 on my laptop without ssh.  But I do not get the list when I try with the virtual machine installed Linux if I do not ssh into raspberry pi. Can you let me know the reasons and how to set up for virtu

[2022-09-23 16:58] Tanjim13 commented on #54
I am attaching some screenshots to make it clear. 1st screenshot is of .bashrc file of my VirtualBox terminal. The second ss shows one virtualbox terminal and one rpi's terminal. And third ss is my virtual box terminal's ifconfig.
![Screenshot 2022-09-23 at 12 49 31 PM](https://user-images.githubusercontent.com/18646128/192012989-c5eef4f1-9d6e-4cb5-a66e-d67defd98ab9.png)
![Screenshot 2022-09-23 at

[2022-09-23 17:31] tonybaltovski commented on #54
Is the VM set to `bridge-mode` for the networking adaptor?

[2022-09-23 19:13] roni-kreinin commented on #44
The `usb0` network interface uses a static subnet of `192.168.186`. The IP address of the Create 3 is `192.168.186.2` and the RPi is `192.168.186.3`. These IP addresses are static and should not be changed. I would not recommend disabling the USB connection as it is also used for syncing the RPi and Create 3 clocks. I'm also not sure what you mean by "let the Operating system discovery the two uni

[2022-09-23 20:13] Tanjim13 commented on #54
@tonybaltovski, No, it is in NAT mode.
![Screenshot 2022-09-23 at 4 12 39 PM](https://user-images.githubusercontent.com/18646128/192049485-fcb96dbe-d8c2-4844-a1f0-7ddf39819c73.png)

[2022-09-23 20:23] tonybaltovski commented on #54
Using NAT will put the VM on a separate network whereas using bridge mode will put it on the same network.  Use bridge mode to connect to the Raspberry Pi.

[2022-09-23 21:09] alexswerner opened #55 "Reason why the color video stream is disabled"
Is there a reason why the color stream is disabled (launch file argument `useVideo` in oakd.launch.py). The preview resolution is pretty low. Likely the reason is computation time, but I wish that there would be a way to get at least single frame with the full resolution.

[2022-09-23 21:29] Tanjim13 commented on #54
@tonybaltovski Thank you so much. It worked.

[2022-09-23 21:29] #54 closed, assigned to roni-kreinin

[2022-09-26 14:22] OverlordFlowers opened #56 "Turtlebot 4 lite raspberry pi wifi network not showing up. Unable to ssh into it."
**Please provide the following information:**
 - OS: Ubuntu 18.04
 - ROS Distro: Dashing
 - Built from source or installed: Installed
 - Package version:

 **Expected behaviour**
I'm expecting to see the Wi-Fi network "Turtlebot4" to appear when the TurtleBot 4 lite powers on.

 **Actual behaviour**
I am not seeing the Wi-Fi network appear, and am not able to connect and SSH into the raspberry pi.

[2022-09-26 14:31] roni-kreinin commented on #56
The RPi creates a 5GHz network. Can you make sure that your WiFi adapter supports that?

If not, you can try to connect to it using an ethernet cable. See https://turtlebot.github.io/turtlebot4-user-manual/troubleshooting/faq.html#access-the-rpi-over-ethernet

[2022-09-26 14:43] roni-kreinin commented on #55
The video stream publishes the full 1080p video while the preview is just a crop of that full image. The RPi struggles to publish the full 1080p image with its internal WiFi at a reasonable framerate. The intention of the preview image is to assist with teleop.

You can modify the oakd [launch file](https://github.com/turtlebot/turtlebot4_robot/blob/galactic/turtlebot4_bringup/launch/oakd.launch.p

[2022-09-27 01:45] Tanjim13 opened #57 "Want to use turtlebot4 audio"
Hi, I am trying to figure out how to work on the audio note of turtlebot4. I want to play some audio(Hi, How are you?) using the turtlebot 4 speaker. Is it possible? How to do so? Thank you.

[2022-09-27 15:27] roni-kreinin commented on #57
You can control the Create 3 speaker using an [Audio Note](https://github.com/iRobotEducation/irobot_create_msgs/blob/galactic/msg/AudioNote.msg) message, or the [Audio Note Sequence](https://github.com/iRobotEducation/irobot_create_msgs/blob/galactic/action/AudioNoteSequence.action) action. I don't believe the Create 3 currently supports playing an actual audio file.

[2022-09-27 16:34] Srimathi-tw commented on #53
@roni-kreinin tried create 3's ip still didn't work. Any pointers on how we can connect the bot to corporate wifi?

[2022-09-27 19:55] OverlordFlowers commented on #56
My WiFi adapter does support 5 GHz. I am using the TP-Link Nano AC600 USB WiFi adapter.

I decided to use the ethernet cable and I was able to SSH into it and configure the WiFi, but I do not know if it is connecting successfully or not. Does the raspberry pi only support connecting to a 5 GHz network?

[2022-09-27 19:56] OverlordFlowers commented on #56
Also, while I was configuring the Turtlebot 4 standard, when it rebooted the display screen was off and none of the LEDs were working. Is it because it did not connect to a network successfully?

[2022-09-27 20:13] roni-kreinin commented on #56
The RPi supports both 2.4 and 5GHz networks but it is recommended to use 5GHz to improve performance for things like streaming camera data.

To check if the RPi has connected to WiFi, try to SSH in and run `ip a`. You should see an entry for `wlan0` with an IP address if it is connected like so:
[code]
If the interface is down, you can manually edit the network configuration located at `/etc/netpl

[2022-09-27 20:35] OverlordFlowers commented on #56
If it shows:

4: wlan0: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 qdisc fq_codel state DOWN group default qlen 1000
    link/ether e4:5f:01:bb:8f:2b brd ff:ff:ff:ff:ff:ff

that means it did not connect successfully, right?

[2022-09-27 20:50] OverlordFlowers commented on #56
I've modified the 50-cloud-init.yaml file and rebooted. I am no longer able to ssh into the raspberry pi using the ethernet cable.

[2022-09-27 20:55] roni-kreinin commented on #56
Yes, it did not connect.

What did you change? The ethernet and usb0 should not be modified.

[2022-09-27 20:58] OverlordFlowers commented on #56
I uncommented the “# ap” line to see if it would reboot in ap mode and deleted my ssid and password fields

[2022-09-27 21:05] roni-kreinin commented on #56
The AP mode still requires a SSID and password so this is likely an invalid configuration. Netplan probably can't run properly which is why the ethernet stopped working. For future reference, you can call `sudo wifi.sh -a` to set the RPi back to AP mode.

If you have a micro HDMI cable you can connect that to the HDMI0 port of the RPi. You can then use a monitor and keyboard to recover. Your other

[2022-09-27 21:10] roni-kreinin commented on #53
I would recommend making an issue at https://github.com/eclipse-cyclonedds/cyclonedds. They will be much more familiar with this.

[2022-09-27 21:11] OverlordFlowers commented on #56
I have been using a hotspot with my phone. I will try to recover the 50-cloud-init-yaml file. What’s the proper format?

[2022-09-27 21:12] roni-kreinin commented on #51
Issue discussed at https://github.com/luxonis/depthai-ros/issues/140

[2022-09-27 21:12] #51 closed, assigned to roni-kreinin

[2022-09-27 21:22] roni-kreinin commented on #56
See [wifi.sh](https://github.com/turtlebot/turtlebot4_setup/blob/galactic/scripts/wifi.sh#:~:text=echo%20%2De%20%22,true%5Cn%22). I would recommend running `sudo wifi.sh -a` first before modifying so that the formatting is correct. You can also try to comment out the `band: 5GHz` line when in AP mode so that the AP is 2.4GHz.

[2022-09-29 06:52] nidia-bucarelli opened #58 "I cannot see my robot in rviz after running a python script"
Hi!
I created a map of my office. Then, I tried to create a package to run the nav_to_pose.py script (from the repository in the link below) using the command line. I aimed to physically move the robot from its dock station to a coordinate (e.g., x=-3, y=-2). After I built the package, I launched the navigation using `ros2 launch turtlebot4_navigation nav_bringup.launch.py slam:=off localization:=

[2022-09-29 12:19] Srimathi-tw commented on #53
Thanks @roni-kreinin will close this issue then.

[2022-09-29 12:19] #53 closed, assigned to roni-kreinin

[2022-09-29 14:28] roni-kreinin commented on #58
Just to clarify, did you clone the `turtlebot4_python_tutorials` package and just modify the goal pose coordinate?

[2022-09-29 14:28] roni-kreinin commented on #58
Also are there any errors thrown when you launch navigation or run `nav_to_pose`?

[2022-09-29 17:29] nidia-bucarelli commented on #58
I did not clone the `turtlebot4_python_tutorials`. I built the package following the tutorial on how to create a package and node.
Below are my steps:

[code]
When I run the nav_to_pose, this is what I get:

For the console that runs ``` ros2 launch turtlebot4_navigation nav_bringup.launch.py slam:=off localization:=true map:=map_name.yaml ``` , the terminal keeps printing as below:
[code]
I get t

[2022-09-29 20:20] Tanjim13 opened #59 "Communication LED is off, not working, why? How to fix it?"
I am working with 6 Turtlebot 4 under the same router. Frequently, the COMM LED turns off automatically. I want to know the reason. I have separated them with different ROS_DOMAIN_ID  What is the proper and fastest way to turn on or fix the issue with COMM Led?

[2022-09-30 21:11] alexswerner commented on #55
Thanks for the reply. I understand that streaming the full image over Wi-Fi will not work. In our application we want to implement tag detection on the Raspberry Pi, and that can be done locally on the raspberry pi. For better accuracy we want a higher resolution and accept a lower framerate instead. UseVideo/UsePreview in the launch file can enable that usage. The full resolution gives fps betwee

[2022-09-30 21:11] #55 closed, assigned to roni-kreinin

[2022-10-03 14:26] gdesimone97 opened #60 "Place the plate higher"
Hi, I need to place the plate higher.
How can I do this?
Where can I buy this taller component?

![image](https://user-images.githubusercontent.com/44608428/193601781-8bd2f595-de77-479e-a709-cc2159553fd7.png)
![image (1)](https://user-images.githubusercontent.com/44608428/193601770-6a90c5d9-34de-433a-817d-bb84318e9880.png)

Best regards,
Giuseppe De Simone, PhD

[2022-10-03 14:29] MathisGodard opened #61 "Hardware and software problems"
Hello,

A custommer has 2 robots and he has some problems on his robots :

- One of the two simply does not boot (the screen does not display anything, the LEDs remain off and the lidar does not launch).
- The second launches and we can connect to the raspberry without problem but it is impossible to control it. It seems that there is a problem with the battery and the motors (see the two attachme

[2022-10-03 15:54] roni-kreinin commented on #61
For the robot that does not boot, does the ring light around the power button turn on? If not, you can try to reset the Create3 battery by removing the 5 screws on the bottom of the robot, removing the bottom plate, and then removing the battery for 15 minutes. Then, reinstall the battery and reattach the bottom plate.

For the second robot, the COMMS led is off which indicates that the base and R

[2022-10-03 18:40] roni-kreinin commented on #59
The COMM led being off indicates that the connection between the RPI4 and Create3 is not up. It may be that the Create 3 or RPi lose WiFi connection at some point. I would recommend trying to use FastRTPS as it will maintain the USB-C connection even if WiFi drops. Take a look at the tutorial [here](https://turtlebot.github.io/turtlebot4-user-manual/tutorials/multiple_robots.html#setting-the-envir

[2022-10-04 16:33] nidia-bucarelli commented on #58
Hi, @roni-kreinin.
Do you have any feedback?

[2022-10-04 18:11] roni-kreinin commented on #58
@nidia-bucarelli Can you call `ros2 topic echo /tf` and check that the odom->base_link transform is being published? It looks to me like the Create3 is not publishing this transform. Test this without having nav2 or anything else running first.

If the issue starts when you do run nav2, I would recommend you try to switch RMW to Fast-DDS. I would recommend using the script mentioned [here](https:/

[2022-10-05 06:56] Tanjim13 commented on #59
@roni-kreinin , I have followed the instruction. I did it by creating and running ros_config.sh script in /usr/local/bin of RPI 4 of the turtlebot. But the problem is when I separate two turtlebots with different ROS_DOMAIN_ID and set RMW_IMPLEMENTATION to rmw_fastrtps_cpp using ros_config.sh, under the same wifi router, the IP address of both robots starts to blink. The last 3digits of IP address

[2022-10-05 14:30] roni-kreinin commented on #59
I forgot to add to the instructions that you also need to update your `install.py` script. You can find the updated script [here](https://github.com/turtlebot/turtlebot4_setup/blob/roni-kreinin/domain_id/scripts/install.py). Download it and move it to `/usr/local/bin/`, then run the `ros_config.sh` script again.

[2022-10-05 19:10] Tanjim13 commented on #59
@roni-kreinin , It worked for those two turtlebot4. But when I tried with another one, the led lights, with led display is gone. But I could ssh into it using previous IP address.Then I ssh into it using ethernet cable with 192.168.185.3. But after using sudo wifi.sh -a it is showing me turtlebot4 wifi. But still led light and display is not working. How to fix this?

[2022-10-05 19:40] roni-kreinin commented on #59
`sudo wifi.sh -a` puts the RPi back into AP mode. You need to connect it to the same WiFi network as the Create3.

[2022-10-05 20:32] Tauhid-Tanjim13 commented on #59
The problem is that turtlebot is working but the led display or lights are not turning on. I know how to connect to Create3 under same wifi. But LED light or display is not working. Even the three LED Light are not turning on (MTR,POWER, WIFI).

[2022-10-05 20:37] roni-kreinin commented on #59
You can check the logs of the turtlebot4 service with `sudo journalctl -u turtlebot4 -r`. You might need to restart the service with `sudo systemctl restart turtlebot4`.

[2022-10-05 22:24] Tanjim13 commented on #59
I solve it using this command. sudo apt-get install -y ros-galactic-rmw-fastrtps-cpp
Cause it is not installed in our turtlebots's RPI. I think this the reason when I switch to rmw_fastrtps_cpp, my led lights and display turns off.
I might be wrong. But it is solved after installing this package.
sudo journalctl -u turtlebot4 -r
I saw errors in rmw implementation in the log file previously.
Oct 05

[2022-10-06 02:51] Tanjim13 commented on #59
@roni-kreinin , I am still facing problem. It is very slow when students work with the six turtlebot4  simultaneously. So, should I add more routers? Or can I solve it in another way? Sometimes, COMM led is off for 20-30 seconds. What more can I do to make the turtlebot response smoothly under the same router? Or how many bots should I place under a router that will not slow it down?

[2022-10-06 03:28] nidia-bucarelli commented on #58
ros2 topic echo/tf prints information about base_link and odom  (see below).

[code]
I checked again, and I can see the robot in Rviz when I am generating a map. But, when I try to navigate using Rviz interface and navigation tools, the robot does not want to show up until I use "2D pose estimation", and it shows up with a different orientation. See images below. Also, it does not understand where

[2022-10-06 14:49] roni-kreinin commented on #58
The initial pose gives localization a starting point to start calculating where the robot is on the map. If there is a slight deviation then it should be able to account for that but if the given pose is completely off then it will lead to behaviour like this.

I would recommend generating a new map where the robot starts on a dock. The direction the robot is facing would then be north with regard

[2022-10-06 15:27] timbo-r opened #62 "cannot start sync slam on a remote pc"
**Please provide the following information:**
 - OS: Ubuntu 20.04.05 LTS
 - ROS Distro: Galactic
 - Built from source or installed: installed according to the official [documentation](https://docs.ros.org/en/galactic/Installation/Ubuntu-Install-Debians.html)
 - Package version: ros-galactic-turtlebot4-navigation (0.1.2-1focal.20220922.210710)

 **Expected behaviour**
A map should be created and up

[2022-10-06 18:06] roni-kreinin commented on #62
@timbo-r Is your Create3 connected to a 2.4GHz WiFi that is bridged with the 5GHz? Are you able to see topics such as `/odom` from your remote PC?

[2022-10-06 19:12] Thoneley opened #63 "Turtlebot4 Factory reset without opening"
- OS: Ubuntu 20.04
 - ROS Distro: Galactic

Need to flash/reset SD card on raspberry PI without opening the turtlebot casing. Currently the offset screws from our supplier seem locked in/locktited, so we need to access the SD card without potentially breaking the PCB board covering it.

[2022-10-06 19:13] timbo-r commented on #62
Hi @roni-kreinin,
thank you for the quick response. Yes that is right: The Create3 is connected to the same WIFI (2.4GHz) as the Raspberry and the remote PC (5GHz). Also these are the only devices connected to the router, because it is a test environment dedicated to turtlebot scenarios. I can confirm that I can echo the `odom` data with `ros2 topic echo /odom` while controlling the robot via `ros

[2022-10-06 20:08] apopielas commented on #60
Hi! You can use any M4X0.7 Male-Female Standoffs. [Mcmaster Carr has some that would work](https://www.mcmaster.com/spacers/threaded-standoffs/system-of-measurement~metric/system-of-measurement~metric/thread-size~m4/material~aluminum/). Any other hardware supplier will also likely have them.

Just get enough to adjust the height to what you need.

The standoffs we use on the TTB4 are made in quant

[2022-10-06 20:19] apopielas commented on #63
Hi! The loctite we use for those is Loctite 243 and should come apart with hand tools. Can you take a photo of the screw and nearby areas?

[2022-10-06 20:21] roni-kreinin commented on #62
Are you running this on a VM or old hardware? If you are getting the `discarding message because the queue is full` message repeatedly then it may be that `slam_toolbox` is not able to calculate fast enough. Can you try running `slam_async.launch.py` on your remote PC and see if you get the same issue?

[2022-10-06 20:33] roni-kreinin commented on #59
@Tanjim13 I would like to figure out if this is a bandwidth or signal strength issue. Can you answer the following questions:

- Does the COMM led turn off while the robot is driving around or when it is standing still?
- How strong is the WiFi signal for both 2.4 and 5GHz in the area that you are testing? You can check with a phone or laptop.
- Next time the COMMs light turns off, can you retriev

[2022-10-06 20:34] timbo-r commented on #62
Yes, you're right: the remote PC is running in a VM.

When running `ros2 launch turtlebot4_navigation slam_async.launch.py`, the error is the same as before:

[code]

And in the terminal running rviz with `ros2 launch turtlebot4_viz view_robot.launch.py`:

[code]

Here is a screenshot of `htop` while running both commands:

![image](https://user-images.githubusercontent.com/10848420/194413016-13fa

[2022-10-06 20:41] roni-kreinin commented on #62
From the `slam_toolbox` error messages it does seem that it is dropping every `/scan` message which is why the map doesn't update. Are you able to give the VM some more processing power?

[2022-10-06 20:59] timbo-r commented on #62
I double the cores of the vm, but get the same errors ....

[code]

[code]

[code]

[code]

`htop` wile running both commands:

![image](https://user-images.githubusercontent.com/10848420/194416828-55f6f3e9-ab53-431a-a816-5488ab90ea9f.png)

when running `ros2 topic echo /scan` i'm able to see the data of the lidar:

[code]

i checked the network bandwidth with `iperf3` and its nearly 60Mbits/sec (

[2022-10-06 21:36] nidia-bucarelli commented on #58
My robot starts on the dock station.
This time when trying to generate a new map, the start point does not match my physical location. It is at the edge of the room (if not outside). See the images below. The physical location of the robot matches the robot's location (and orientation) in the virtual map. But, the start point in the map shows an area that is below a desk (and at the edge of the ro

[2022-10-07 01:16] Thoneley commented on #63
I don't have access right now to send a picture along, however we couldn't get access to the standoffs no matter what we tried. It seems as if the hidden bolt doesn't have a head we can easily access (or at all) under the pcb cover, and manually trying to twist the standoffs off did not work.

[2022-10-07 05:05] Tanjim13 commented on #59
@roni-kreinin,

-  Sometimes, It goes off while driving (both in fastrtps & cyclonedds mode). But in fastrtps mode, it comes back after a few seconds. Another problem is that it is very slow when we run programs using virtual machines in fastrtps mode without ssh into RPI compare to cyclonedds.
- For 5GHz:, RSSI: -45dBm, Noise: -93dBm, TxRate: 867Mbps...  2.4GHz: RSSI: -34dBm, Noise: -88~-93dBm, T

[2022-10-07 10:13] gdesimone97 commented on #60
Thank you very much for your reply

[2022-10-07 10:13] #60 closed, assigned to roni-kreinin

[2022-10-07 13:25] apopielas commented on #63
Ok! The standoffs are Male-female so there isn't a bolt on the underside holding it in. It screws into an insert into the plastic. Here is how I recommend removing it.

1. Remove the top plate. This will ensure the standoffs are fully free to move and also prevent any damage to the top plate.
2. Grab vice-grips or multigrip pliers. Put some electrical tape on the teeth to avoid scratching the powd

[2022-10-07 14:27] roni-kreinin commented on #58
My second suggestion was to figure out the starting position of the robot on the map, given that it is not (0,0). By using the publish point tool and echoing the `/clicked_point` topic, you should be able to locate that starting position. Then, use this position as the initial pose in the nav_to_pose script.

[2022-10-10 13:04] Kohl-Stefan commented on #48
@roni-kreinin  WIth `ros2  node list --no-daemon` it is the same - the nodes do not appear anymore until I stop the command. By the way this also happens if I access the camera data via `ros2 run rqt_image_view rqt_image_view`. Do you have any idea?

[2022-10-11 14:01] simon-hauser opened #64 "Battery discharging and charging"
Hi,
I wanted to double check with you if the runtime and charging speed I have is within the expectations.

Today I started our TB standard version with 47% charge. It was on for around 25 min, during which I drove maybe 30-40 meters, so the robot was mostly idle. The Lidar was always turning, however I only drove it manually with the joystick. After this, the charge was at 16% and I needed to abo

[2022-10-11 14:51] roni-kreinin commented on #64
The robot does seem to be discharging quite quickly. The expected runtime is 2.5-4 hours depending on load, and a full charge typically takes about 2.5 hours. If the robot is under heavy load while charging, it may take more.

Can you take the robot off the dock and echo the `/battery_status` topic? It would be useful to see the current draw while it is idle.

[2022-10-12 18:51] axdwq opened #65 "The power light and LCD display are off"
- OS: Ubuntu 20.04
 - ROS Distro:  Galactic
 - installed: already installed

 **Expected behaviour**
Following the quick start guide after I changed the wifi id and password, I rebooted. It should rebooted and connect again but it isn't.

 **Actual behavior**
Raspberry pi 4 do not start and the power light and LCD display are off.

**To Reproduce**
I am new in this so, I tried to restart removing

[2022-10-12 19:49] roni-kreinin commented on #65
The password is `turtlebot4`

[2022-10-13 02:35] axdwq commented on #65
I already test the password turtlebot4 and do not works.
What can I do?

[2022-10-13 14:10] simon-hauser commented on #64
Hi,
Thanks for the quick answer.
I needed to wait a couple of seconds after taking the robot off the dock before the `/battery_status` was getting published. I drove maybe 10 m, stopped the robot for 10 seconds, then echoed the status:

[code]

How does this look to you? The robot has no payload on top of the acrylic plate and no additional hardware is connected. Camera is connected and Lidar is t

[2022-10-13 14:26] simon-hauser commented on #64
When the robot is on the dock, this is the echo `/battery_status`:
[code]

I could add that when I received the robot, I could not switch it off: the LED ring would blink 3 times but no sound was played and the robot just stayed on. I could solve this issue by resetting the battery and since then booting and shutting down seems to work properly.

[2022-10-13 14:34] simon-hauser opened #66 "turtlebot cannot drive backwards with joystick"
Hi,
I can't really make the robot drive backwards when controlling the turtlebot with the provided joystick, neither in or out of the safety mode. It would drive back maybe 10 cm, then stutter, then drive another 2 cm and then stop completely. After that, the robot refuses to drive backwards entirely. I need to drive forward (or turn) before another backwards drive can be attempted, but the behavi

[2022-10-13 14:51] roni-kreinin commented on #65
Did you change the username or password when you were setting up wifi? Because you would have had to use `ubuntu` as the username and `turtlebot4` as the password to SSH into the robot in the first place. The username and password should be the same regardless of if you are SSH'ing over wifi or ethernet.

[2022-10-13 14:59] roni-kreinin commented on #64
The charging current does seem to be fairly low. Typically we want to see about 1A when charging. Can you try a couple of tests to narrow down the issue?

- On the RPi run `sudo systemctl stop turtlebot4`. This will stop the `turtlebot4` service which runs all of the ROS2 nodes. Once the service is stopped, echo `/battery_status` again while the robot is off the dock.
- Unplug the [power adapter b

[2022-10-13 15:02] roni-kreinin commented on #66
How are you disabling the safety? I typically use the [webserver](https://iroboteducation.github.io/create3_docs/webserver/application/) to set `safety_override` to `full`.

[2022-10-13 18:45] axdwq commented on #65
When I was setting up the WiFi, maybe by mistake  I changed the user name and password wrong. I wrote for the user name: 'turtlebot4' and for the password: 'turtlebot4' also. I was confusing if the correct way is '<turtlebot4>' or 'turtlebot4'.
Now, after that mess, what do you suggest?

[2022-10-13 18:59] axdwq commented on #65
I mean angle brackets around the user name and password, when We want to change those.

[2022-10-13 19:08] roni-kreinin commented on #65
To clarify, are you referring to changing the username and password of the ubuntu user? Or the SSID/password of the WiFi network you were connecting to with `sudo wifi.sh`?

[2022-10-14 02:12] axdwq commented on #65
I was trying to change WIFI_SSID and WIFI_PASSWORD on wifi.sh file.

[2022-10-14 17:24] roni-kreinin commented on #65
In that case, the SSID and password should be that of your WiFi network, and not `turtlebot4`. You should still be able to access the Pi over SSH by connecting with ethernet and running `ssh ubuntu@192.168.185.3` as instructed [here](https://turtlebot.github.io/turtlebot4-user-manual/troubleshooting/faq.html#access-the-rpi-over-ethernet). When prompted for a password, enter `turtlebot4`. Then you

[2022-10-14 19:25] axdwq commented on #65
Then I did every thing well. I wrote: sudo wifi.sh -s 'Turtlebot4' -p 'Turtlebot4' -r MX && sudo reboot. After that,  the raspberry pi do not rebooted well.
Now, I can't see the Turtlebot4 name in my WiFi Network and the LCD display is still off.

[2022-10-14 20:48] roni-kreinin commented on #65
Your WiFi network is called Turtlebot4 with password Turtlebot4?

[2022-10-17 07:35] Tanjim13 commented on #59
@roni-kreinin , I tried to retrieve logs from create3 webserver, but it did not work. I tried 192.168.0.103:8080, but it did not let me go to the site.
ros2 topic hz /color/preview/image it worked fine.. I will investigate it further.
fastrtps is very slow compare to cyclonedds.

[2022-10-17 07:48] Tanjim13 opened #67 "Facing issues with turtlebot4_ignition_bringup"
Whenever I run this command: ros2 launch turtlebot4_ignition_bringup ignition.launch.py
My turtlebot4's  **comm, wifi and batt leds** start blinking.
And ip address switches between UNKNOWN and 192.168.0.103 (turtlebot's ip) very rapidly.
Is it the case Gazebo is only for virtual turtlebot not for physical turtlebot?

[2022-10-17 13:42] alexswerner commented on #26
@roni-kreinin is there any development in this direction? I see there is no reaction on the ticket you opened with iRobot. For us, the tunnel setup described above is robust, but introduces one more hurdle to operate the robot. So there is no urgency, but it would definitely improve the usability (no tunnel) and range of applications (multi-robot*).

[2022-10-17 13:51] simon-hauser commented on #66
Ah, that was unclear from my side. I meant using L1 or R1 on the controller to drive the robot. From my understanding, L1 is driving with safetly enabled, and R1 is driving without safety.
I have not tried to disable the safety via webserver. But since the driving back problem also exists with safety, I would guess that this is not the main issue?
I might add that after the robot stopps when tryin

[2022-10-17 16:52] alexswerner opened #68 "Battery pack issue"
From our fleet of 15 Turtlebot4 one unit seems to have an issue with the battery. The behavior is that the robot is charging the battery to full, but then stops charging for some reason. The battery is discharged until the Raspberry Pi turns off and the red ring status light appears. This happens while the robot is continuously docked. Re-docking the robot restarts the cycle. I swapped the battery

[2022-10-18 04:07] axdwq commented on #65
Yes, it  is

[2022-10-18 17:18] OverlordFlowers commented on #56
I was able to connect it to a router that had a 5 GHz network but I am still unable to connect it to a 2.4 GHz network. I am also trying to connect it to my campus Wi-Fi. Is there any encryption that I should be aware of on the Turtlebot?

[2022-10-19 05:42] roni-kreinin commented on #66
L1 simply limits driving and turning velocities, while R1 allows for faster speeds. Out of the box the Create 3 will have safety enabled and this needs to be disabled via the webserver to allow backwards driving.

The yellow lightring indicates that the wheels have been stopped. This occurs when you reach the backup limit, kidnap the robot, set the E-Stop, and some other situations.

[2022-10-19 05:44] roni-kreinin commented on #67
You need to use a different ROS_DOMAIN_ID if you are running the simulation and a real robot concurrently. Otherwise the ros2 topics of the simulation will interfere with the robot.

[2022-10-19 05:47] roni-kreinin commented on #68
Can you send the logs from the Create 3 webserver after this occurs?

[2022-10-19 06:28] simon-hauser commented on #66
Ok, thanks. I will try out disablinng the safety and report back if this worked.
Out of curiosity, into which error does the robot run when driving backwards with safety enabled? Is it maybe that the robot doesn't have cliff sensors for safe backwards driving and can only retract a maximal distance (is this what you mean by backup limit)?

[2022-10-19 06:35] roni-kreinin commented on #66
Yes, the cliff sensors are located on the front half of the robot and prevent it from falling down. If you disable safety then the cliff reflex will be disabled and the robot can fall down stairs or ledges if you are not careful. If you want to keep safety enabled, you can simply rotate the robot 180 degrees on the spot and drive forwards instead of reversing. Also, the undock action will still al

[2022-10-19 07:36] moon891031 opened #69 "how can i get data from turtlebot4 clearpath to remote pc"
**Please provide the following information:**
 - OS: turtlebot4 Clearpath Ubuntu 20.04 & remote pc ubuntu 20.04
 - ROS Distro: turtlebot4 standard- galactic & remote pc - galactic

 **Expected behaviour**
      i expected 'ros2 topic echo /odom' on remote pc
      i thought it can receive data.
     but there is no /odom

    i set up on turtlebot4 :
              bashrc -> 'export RMW_IMPLEMENTAT

[2022-10-19 07:49] simon-hauser commented on #64
Sorry for the late reply, I was a couple of days out of office.
Here is the `/battery_status` after running `sudo systemctl stop turtlebot4` while the robot is off the dock. The robot has no payload added:
[code]
And this is the echo after unplugging the power adapter board, robot is off the dock:
[code]
And lastly the echo of the robot on the dock, adapter board unplugged:
[code]
The charging cur

[2022-10-19 08:50] simon-hauser commented on #66
Disabling the safety via the webserver worked. Thanks for your help!

[2022-10-19 08:50] #66 closed, assigned to roni-kreinin

[2022-10-22 09:40] Tanjim13 commented on #67
Okay, I will try and let you know. Thank you.

[2022-10-24 07:04] moon891031 commented on #69
hello
maybe remote pc cannot communication with Create3 Data , just RPI4 data.
on remote pc , only can echo /cmd_vel, can not echo /odom

[2022-10-25 07:01] simon-hauser commented on #64
Are these numbers more in line with a usual charging/discharging behavior?
Accelerating the charging speed by unplugging the adapter board could be a possibility for us, so that should not be too much of an issue; thanks for the tip. But I'm still wondering about the suggested runtime of 2.5 - 4 hours that still seem much longer than what we are getting, even without additional payload. Running `s

[2022-10-25 13:07] alexswerner commented on #68
Sure, here is the log (after reboot)
[battery_issue.txt](https://github.com/turtlebot/turtlebot4/files/9860504/battery_issue.txt)

[2022-10-25 14:22] teufelweich opened #70 "Displaying wrong WIFI IP address"
**Please provide the following information:**
 - Built from source or installed: freshly installed image v0.1.3
 - Package version: v0.1.3

 **Expected behaviour**
When the WIFI connection fails (e.g. the interface has no ip adress) it should not display the default `10.42.0.1` on the Turtlebots display. But maybe some kind of error or its ethernet IP address (like `eth: 192.168.185.3`).

 **Actua

[2022-10-26 09:16] HSmoon1031 commented on #69
anybody there~~~~~~~~~~~~~? plz give me hint~~~~~~~~~~~~~```

[2022-10-26 11:31] lenaNzrva opened #71 "turtlebot4_node build failed"
- Ubuntu 20.04
 - ROS Galactic
 - Docker

I want to install packages for turtlebot4 in my environment. I'm using this tutorial: https://turtlebot.github.io/turtlebot4-user-manual/software/turtlebot4_packages.html
During building with `colcon build --symlink-install ` I have this result:

Starting >>> irobot_create_msgs
Starting >>> irobot_create_toolbox
Starting >>> irobot_create_description
Start

[2022-10-26 13:51] teufelweich commented on #14
I've encountered difficulties too:
I couldn't connect after I've paired successfully. The PI stated it was connected but the controller was blinking still.
I just tried `trust` and then `connect` without the `pair`, which worked for me.

EDIT: it worked for a second, the controller turns off 10 seconds later automatically. So basically not working. Can't get it to pair and connect.

[2022-10-27 02:42] Tauhid-Tanjim13 commented on #62
I faced similar issue. I ran this command: ros2 launch turtlebot4_bringup rplidar.launch.py into RPI once or twice. It worked. Sometimes, I need to reset the whole network configuration. I am still trying understand the reason behind it.

[2022-10-27 02:48] Tauhid-Tanjim13 commented on #57
Yes, I can only make beep beep noise with different hz. But I cannot convert text to speech. I think I will need to plug in a separate speaker to add this feature. Do you have any suggestion or resources how to do so? Thank you.

[2022-10-27 02:59] Tauhid-Tanjim13 commented on #59
Hi @roni-kreinin , I want a suggestion. If I add routers to the turtlebot4 will it create any difference? Also if I use fastrtps do I need to change anything in my local linux machines? like changing in my ~/.bashrc file? I found fastrtps is very slow compare to cyclonedds. When I work alone, it is okay to work. But if multiple users in a same room working with 4-7 turtlebots simultaneously, I fin

[2022-10-27 08:14] lenaNzrva commented on #71
Oh, I forgot to switch to ros galactic branch

After this:
`vcs import src < src/turtlebot4/dependencies.repos`
Do this:
[code]
And then I build

[2022-10-27 08:14] #71 closed, assigned to roni-kreinin

[2022-10-28 09:38] Tanjim13 opened #72 "Led light is black cannot ssh into Turtlebot4"
I have tried Ethernet using ssh ubuntu@192.168.185.3 to get into robot, but failed. I can see ros topics of the turtlebot from my terminal using ROS_DOMAIN_ID (but /ip is missing). I enter into create3 log file to see if there is any wrong. Posting that below(couldn't understand). I am not so sure if anyone has worked on it. How can I solve this issue? Thanks in advance.

Create3 log:
Oct 28 07:00

[2022-10-28 16:27] lenaNzrva opened #73 "Laptop - Raspberry Pi connectivity problems, black LED on Raspberry Pi."
We use:
- Ubuntu 20.04
- Ros2 Galactic

We followed the "Quick Start" manual and everything was going smoothly until we executed the following command with our WIFI_SSID and WIFI_PASSWORD parameters:

`sudo wifi.sh -s '<WIFI_SSID>' -p '<WIFI_PASSWORD>' -r <REGULATORY_DOMAIN> && sudo reboot`

After this command, the robot rebooted but Raspberry Pi could not connect to our Wifi network. We tried to

[2022-10-31 15:11] roni-kreinin commented on #69
The Create3 needs to be connected to a 2.4GHz network that is bridged with your 5GHz network. Otherwise data will only be sent over USB to RPi4, and not to your remote PC.

[2022-10-31 15:22] roni-kreinin commented on #70
The display should typically display "UNKNOWN" as the IP address in a case like this. I think the issue here is that CycloneDDS is configured by default to use the `wlan0` and `usb0` interfaces. If either one of these fails then CycloneDDS throws errors and ROS2 nodes will crash. If you use FastDDS then this issue should not occur, and "UNKNOWN" should be displayed correctly.

I'm assuming you are

[2022-10-31 15:24] roni-kreinin commented on #72
Are you able to check the IP address of the RPi using your routers webserver? If not, can you try using `nmap` as instructed [here](https://turtlebot.github.io/turtlebot4-user-manual/overview/quick_start.html#find-the-raspberry-pi-ip-on-your-network)?

[2022-10-31 15:56] roni-kreinin commented on #73
The command for restoring AP mode is `sudo wifi.sh -a`. By using `sudo wifi.sh -ap 1` you actually set the password to '1' and SSID to an empty string. The `wifi.sh` script does not currently error check so I believe this would cause an invalid YAML configuration for netplan. As a result, all of the network interfaces (`wlan0`, `eth0`, `usb0`) will likely be in an error state.

Your two options fo

[2022-11-01 10:37] Alaric102 commented on #73
Hi, I have pretty same issue. I have reflashed the SD card using this instruction [here](https://turtlebot.github.io/turtlebot4-user-manual/overview/quick_start.html#install-latest-raspberry-pi-image). But RPi4 doesn't react when I turn it on. The output after
`bash sd_flash.sh /path/to/downloaded/image`
`mmcblk0`
is:
![image](https://user-images.githubusercontent.com/29920404/199214989-f65d9139-0

[2022-11-01 10:45] Alaric102 commented on #73
Btw I also installed Ubuntu 22.04 just to test, before I have found this issue, it worked

[2022-11-01 13:29] alexswerner opened #74 "Spare parts"
While reflashing one of our robots we snapped the threaded stud of one of the black colums (Standard Edition). How can we purchase a couple of these colums and also suitable screws for mounting the top plate?

[2022-11-01 14:23] hamidosooli opened #75 "Multiple Turtlebot 4 robots on the same network (suggestions towards purchasing the best router)"
We recently bought five Turtlebot 4 robots for which we are planning to buy a router. Since both iRobot base (create 3) and the top part need to be connected to the same network, and the base only can connect to 2.4 GHz wifi network. to connect five Turtlebots to the same network (with top and bottom sections connections) we need your suggestions towards purchasing the best router.

[2022-11-02 12:01] Alaric102 opened #76 "RPi 4 doesn't support Ubuntu 20.04"
I have read that RPi4 doesn't support Ubuntu 20.04 anymore. I tried to install your image from [here](https://turtlebot.github.io/turtlebot4-user-manual/overview/quick_start.html#install-latest-raspberry-pi-image) - It doesn't work. Also, I tried to install the official versions from Ubuntu web site - the result is same.

When I turn on the RPi4 with any Ubuntu 20.04 the red diode is lightning sta

[2022-11-03 18:14] roni-kreinin commented on #76
RPi4 does support 20.04 and the image should work. Which screen light is blinking? The Turtlebots?

[2022-11-03 18:15] roni-kreinin commented on #75
I have had a good experience with this router https://www.tp-link.com/ca/home-networking/wifi-router/archer-c1200/

[2022-11-03 18:22] hamidosooli commented on #75
With how many robots? For one robot a simple model like [1] works fine (we tested with this one in our lab). However according to [2] for multiple robots it is another story.

[1] https://www.amazon.com/dp/B01N5RCZQH/ref=pe_386300_442618370_TE_dp_i1
[2] https://turtlebot.github.io/turtlebot4-user-manual/tutorials/multiple_robots.html

[2022-11-03 18:32] roni-kreinin commented on #74
Please email our customer support at support@clearpathrobotics.com. They will provide you with replacement parts.

[2022-11-03 18:44] roni-kreinin commented on #75
I have had at least 3 running at once without issue. I'm not sure what you are referring to in the multiple robots tutorial.

[2022-11-03 19:55] hamidosooli commented on #75
Thank you very much for your comments. In the tutorials it is said that "If we connect two default TurtleBot 4's to the same network, the topics from both robots will communicate with each other and cause unwanted behaviours." Then I was worried if we connect 5 robots to the same network it may cause complications.

[2022-11-05 01:48] Tanjim13 commented on #72
Hi, I will get that Turtlebot4 a couple of weeks later, so I will not be able to work on that for now. I am closing the issue. If I get it back and cannot work on it, I will open the issue again. Thank you.

[2022-11-05 01:48] #72 closed, assigned to roni-kreinin

[2022-11-05 02:20] Tanjim13 commented on #59
@roni-kreinin, I can access to Create3 webserver using the IP address of the iRobot-8XXXXXXXXXX device from the Router's connected devices. So, I checked that the version of Firmware version is G.2.2.
Another turtlebot4 has come to the lab recently and I can access the web server using the IP address of RPI with 8080 port. The firmware version of this turtlebot4 is G.3.1.

Another thing is that ev

[2022-11-06 03:50] Tanjim13 commented on #17
Hi @alexswerner, How did it go? Does the above-mentioned solution work properly? Kindly let me know. Thank in advance.

[2022-11-07 13:48] alexswerner commented on #17
Things do work, but with some modfications. We have successfully run a first lab session with 15 robots working in parallel. We used the modifications outlined in #26. I can posted details if desired.

[2022-11-07 13:49] #74 closed, assigned to roni-kreinin

[2022-11-07 14:23] alexswerner commented on #26
After some further development, I want to share our current setup. We run our robots with disabled base Wi-Fi, and use a tunnel
to connect the client/developer PC to the internal turtlebot network at 192.168.186.0/24. I wrote down some notes here https://gist.github.com/alexswerner/cdc9b9185cd2da0eefc2c404ce405f0f

[2022-11-07 16:28] roni-kreinin commented on #26
@alexswerner Thanks for the notes. I have been discussing this issue with iRobot and they are working on adding IP routing and discovery server options to the Create 3 webserver. I am hoping that the discovery server solution is sufficient, as it should be a bit simpler to set up than the VPN.

I will comment here when I have more updates.

[2022-11-07 18:32] roni-kreinin commented on #75
You will have to configure each robot to have a unique domain ID, as instructed in the multiple robots tutorial. I would just recommend setting up one robot at a time as they all default to a domain ID of 0.

[2022-11-07 19:10] roni-kreinin opened #77 "Consolidating all configuration scripts into a simple CLI."
**Describe the the feature you would like**
For the Humble release we are looking to simplify TurtleBot 4 configuration by combining the [setup scripts](https://github.com/turtlebot/turtlebot4_setup/tree/galactic/scripts) into a single script that would have a simple menu with options for Wi-Fi setup, ROS configuration, `robot_upstart` install/uninstall, and more.

We are looking for some feedback

[2022-11-08 02:55] Tanjim13 commented on #59
![Screenshot 2022-11-07 at 9 47 11 PM](https://user-images.githubusercontent.com/18646128/200463329-fadb56e8-aee9-41d8-b98f-fa11c9ceccc5.png)

The other two turtlebots are connected to another router in the same room.
![Screenshot 2022-11-07 at 9 51 48 PM](https://user-images.githubusercontent.com/18646128/200463982-50e7b317-d25c-4d49-8b3d-18bf6ec4d8b8.png)
![Screenshot 2022-11-07 at 9 53 35 PM](h

[2022-11-09 13:18] simon-hauser commented on #64
Hi,
Sorry for poking you again with this topic, but we couldn't yet come to a conclusion of the issue.
Charging is largely solved; it should probably always be possible to remove the adapter board to speed up charging time.
However, discharing is still an issue. Is a discharge current of over -1.1 A normal under no payload? My estimated runtime is 1h, maybe a little bit more, but far from the 2.5-

[2022-11-09 17:35] roni-kreinin commented on #64
@simon-hauser Sorry for the delay. I will do some testing on my side to see what the typical current looks like when ROS2 is not running.

In the meantime, you can use the [RPLIDAR motor](https://github.com/turtlebot/turtlebot4_robot/blob/galactic/turtlebot4_bringup/config/turtlebot4.yaml#:~:text=%23%20EStop-,%23%20RPLIDAR%20Motor,-%23%20Menu%20Functions) function to stop/start the RPLIDAR. The mo

[2022-11-11 04:55] escortKwon commented on #77
@roni-kreinin I have some issues transferring between RP4 and iCreate3. Therefore, I hope the procedure or process of connecting both of them could be renewed or got better. I have followed instructions from User Manual or retail dealer but there were no better results than keeping original state. Thanks!

[2022-11-11 17:16] CollinTraversEDU opened #78 "C85 component fell off PCB"
As we were disassembling to access raspberry pi and add an arm, the C85 component fell off the PCB. Would you recommend a repair or replace? Is the PCB safe to power on without the use of the port 2?

[2022-11-11 17:54] jberringer commented on #78
Hello Collin
Can you tell me what revision of the PCB you have? It should be written in an area on the underside of the PCB

[2022-11-14 15:20] #31 closed, assigned to nobody

[2022-11-14 15:21] #37 closed, assigned to roni-kreinin

[2022-11-14 15:21] #25 closed, assigned to nobody

[2022-11-14 15:22] roni-kreinin commented on #52
Closing due to inactivity, feel free to re-open if the issue persists.

[2022-11-14 15:22] #52 closed, assigned to roni-kreinin

[2022-11-14 15:23] roni-kreinin commented on #67
@Tanjim13 Did this resolve your issue?

[2022-11-15 18:36] roni-kreinin commented on #68
@alexswerner Have you tried resetting the battery by taking it out of the robot for at least 15 minutes? If not, could you try that?

In the meanwhile I will ask iRobot if they have seen this issue before.

[2022-11-15 23:19] vatsuak opened #79 "Create3 not publishing topics"
Hi, I am using a Nvidia jetson running ubuntu 20.04 to connect to the turtlebot. I have followed the instructions in the quick start guide.
I am using a wifi hotspot (on wlan0) from the Jetson itself. It is set to 2.4ghz so that both the pi and the base can connect to the same hotspot. I am using the default cyclonedds protocol over wlan0
However, I am having trouble connecting to the create3 and

[2022-11-16 03:37] hamidosooli commented on #75
I just accomplished communicating 5 Turtlebots through the same network (through a simple router model [1]). As the number of robots increases the possibility for them to disconnect from the network goes up. I mean keeping all the status LEDs on for all the robots (especially COMM and BATT) becomes trickier.
[1] https://www.amazon.com/dp/B01N5RCZQH/ref=pe_386300_442618370_TE_dp_i1

[2022-11-16 16:59] roni-kreinin commented on #79
Can you access the Create 3 [webserver](https://turtlebot.github.io/turtlebot4-user-manual/overview/quick_start.html#create-3-wifi-setup) and check that the Create 3 is configured for cyclonedds with the same ROS_DOMAIN_ID as your RPi?

[2022-11-16 21:51] nidia-bucarelli commented on #44
Hi, I am trying to disable the multicast. I added the script below to the pi4 and the computer. This has not fixed the issue. I cannot see the topics when i run ros2 topic list from my computer. Do you have any feedback or suggestions on how to fix this issue?

XML file for my pi4:
The second IP address is my robot (pi4), the first IP address is my machine/computer.

[code]
XML file for my compute

[2022-11-17 05:09] Tanjim13 commented on #44
Hi @nidia-bucarelli, Can you clarify for me the mode of the router you are using on campus? (1. Access point mode? 2. Router mode?) If it is not in router mode, kindly switch it to router mode. Cause I had to face a problem regarding this. I hope you are not facing a similar problem.

[2022-11-17 05:11] Tanjim13 commented on #67
@roni-kreinin, I have not checked it yet. If I failed to resolve it, I will open it again. Now I am closing this issue. Hope it will work.

[2022-11-17 05:11] #67 closed, assigned to roni-kreinin

[2022-11-17 05:13] #57 closed, assigned to roni-kreinin

[2022-11-17 21:41] alexswerner commented on #68
I did that, but it did not help. The issue was very persistent for at least a month. It was also reproducible when moving the battery pack to a new robot. However, the problem has not occured since some weeks. We'll wait and see.

[2022-11-17 21:41] #68 closed, assigned to roni-kreinin

[2022-11-17 21:45] alexswerner commented on #55
I now learned that the camera has an API to capture a still image at full sensor resolution. However this is not made available in ROS: https://github.com/luxonis/depthai-ros-examples/issues/61

[2022-11-17 22:05] alexswerner commented on #77
I agree that to start working with this robot, this are rather complicated. Especially considering that this is a robot targetting beginners. I am not easily convinced that GUIs (even text mode) are always a gain, but here it is a good option. Even better however would be sane(r) defaults (e.g. fastdds) and a network setup which is less involved/more robust (no base wifi).

[2022-11-17 23:39] roni-kreinin commented on #68
@alexswerner If the issue occurs again please contact our support team at [support@clearpathrobotics.com](mailto:support@clearpathrobotics.com) and we can RMA the battery.

[2022-11-18 00:08] roni-kreinin commented on #77
Here is a sample of the CLI wifi setup, let me know what you think:

![wifi_setup](https://user-images.githubusercontent.com/59886299/202585202-93e0473c-a139-456d-a78b-34584d407056.gif)

@alexswerner FastDDS will be the default RMW for Humble and we will ship robots with it as the default. It will also be much easier to switch between RMW using this tool.

Regarding #26, we have found a configurat

[2022-11-18 03:18] vatsuak commented on #79
Yes, I think there was an issue with the create base not being able to connect to the wifi. Using a correct connection and keeping all the domain IDs as default I was able to get the desired data. Also, it seems that even if we don't connect the create3 to the wifi, the topics are visible on `ros2 topic list` however we can't echo them. Maybe the USB connection between the base and the pi is the r

[2022-11-18 15:28] roni-kreinin commented on #79
1. Bluetooth packages should already be installed. Try running `sudo bluetoothctl` to pair a controller or bluetooth device. To install other packages without internet connection you will need to download the .deb files to your laptop, then use `scp` to copy them to the RPi. Then you can install them with `dpkg`.
2. There is no way to reset the Pi back to AP mode without ssh'ing in or hooking it u

[2022-11-18 15:31] alexswerner commented on #77
Looks helpful. Small suggestion: I suggest to put the line which switches from AP to client above the SSID etc.

[2022-11-19 01:36] vatsuak commented on #79
I just tried calling the `/color/preview/image` to view the image in RViz however I am getting the following message on the terminal,

`[INFO] [1668814362.569177576] [rviz]: Message Filter dropping message: frame 'oakd_pro_rgb_camera_optical_frame' at time 1650546203.787 for reason 'discarding message because the queue is full'`

I can, however, see the topic by calling `ros2 topic echo /color/pre

[2022-11-21 15:38] nidia-bucarelli commented on #44
Hi @Tanjim13, I do not understand your question. I am trying to get connected to the University WIFI network.
I disabled multicast on the PI4 and computer using the code below. I ran the talker message on my PI, and my computer was able to see it when I ran the listener. However, the robot topics do not show up on my computer when I run ros2 topic list.

![Capture1](https://user-images.githubuserc

[2022-11-21 15:53] roni-kreinin commented on #44
@nidia-bucarelli Can you try adding the Create 3 as a peer too?

[2022-11-21 19:20] CycleMark commented on #70
Not sure if it's of any use - just started with my TB4 - problem I had with the Pi is that it wouldn't connect to my WiFi until I ran the command to bring the interface up -

nmcli c up <SavedWiFiConn>

Mark

[2022-11-21 21:40] roni-kreinin commented on #79
@vatsuak Rviz can be a bit finnicky with camera images. I would recommend running `ros2 run rqt_image_view rqt_image_view`.

Regarding bluetooth, you can run `sudo bluetooth.sh` which will just install some packages required for bluetooth. Then just reboot the RPi and you should be able to run `bluetoothctl`.

[2022-11-21 21:41] roni-kreinin commented on #70
@CycleMark Did you connect to WiFi using the `wifi.sh` script?

[2022-11-21 22:36] bld7 opened #80 "TB4 cameras not working"
I cannot get the cameras working. Please advise.
I tried
ubuntu@ubuntu:~$ ros2 launch turtlebot4_bringup oakd.launch.py
which resulted in the following error message:

[INFO] [launch]: All log files can be found below /home/ubuntu/.ros/log/2022-11-20-03-53-57-055146-ubuntu-1485
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [rgb_stereo_node-1]: process started with pid [1487]
[rg

[2022-11-21 23:19] CycleMark commented on #70
Yep - I was following the instructions as per - https://www.youtube.com/watch?v=QN01AX

[2022-11-22 15:47] roni-kreinin commented on #80
@bld7 Can you disconnect the cameras USB cable, then reconnect it, call `dmesg` on the RPi, and paste the logs here? You should see logs similar to this:

[code]

[2022-11-22 17:24] bld7 commented on #80
Here's the logs
[  489.003651] usb 1-1.2: USB disconnect, device number 6
[  509.196487] usb 1-1.2: new high-speed USB device number 7 using xhci_hcd
[  509.297255] usb 1-1.2: New USB device found, idVendor=03e7, idProduct=2485, bcdDevice= 0.01
[  509.297263] usb 1-1.2: New USB device strings: Mfr=1, Product=2, SerialNumber=3
[  509.297267] usb 1-1.2: Product: Movidius MyriadX
[  509.297271] usb 1

[2022-11-22 17:38] roni-kreinin commented on #80
And it still does not launch with `ros2 launch turtlebot4_bringup oakd.launch.py`?

[2022-11-22 17:42] bld7 commented on #80
No it does not work. The error message has changed:
ubuntu@ubuntu:~$ ros2 launch turtlebot4_bringup oakd.launch.py
[INFO] [launch]: All log files can be found below /home/ubuntu/.ros/log/2022-11-22-17-40-09-232802-ubuntu-1654
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [rgb_stereo_node-1]: process started with pid [1656]
[rgb_stereo_node-1] [18443010E197631200] [930.817] [syst

[2022-11-22 17:45] roni-kreinin commented on #80
Is the `turtlebot4` service still running in the background? You can check with `sudo systemctl status turtlebot4`.

[2022-11-22 17:50] bld7 commented on #80
It appears to be. Here is the displayed result in the terminal:
ubuntu@ubuntu:~$ sudo systemctl status turtlebot4
● turtlebot4.service - "bringup turtlebot4"
     Loaded: loaded (/lib/systemd/system/turtlebot4.service; enabled; vendor preset: enabled)
     Active: active (running) since Thu 2022-04-21 12:54:49 UTC; 7 months 2 days ago
   Main PID: 757 (turtlebot4-star)
      Tasks: 82 (limit: 4435

[2022-11-22 17:54] roni-kreinin commented on #80
It looks like it was crashing there too. Would you happen to have a USB-C to USB-C cable that you could connect to one of the PCBA USB-C ports? Or another USB-A to USB-C cable that you could replace the current one with? I'm interested to see if the issue is with the camera or the cable. Also make sure that it is plugged into one of the blue USB 3.0 ports if you are using a USB-A cable.

[2022-11-22 18:16] bld7 commented on #80
I used the extra USB-A to USB-C cable sent with the TB4.
ubuntu@ubuntu:~$ ros2 launch turtlebot4_bringup oakd.launch.py gives the same error message as the one I first sent you - No available devices.

[2022-11-22 18:30] bld7 commented on #80
I checked the USB-C and it did not have a good connection. I removed the camera and tried again. Same error:
ubuntu@ubuntu:~$ ros2 launch turtlebot4_bringup oakd.launch.py
[INFO] [launch]: All log files can be found below /home/ubuntu/.ros/log/2022-11-22-18-27-51-496749-ubuntu-1844
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [rgb_stereo_node-1]: process started with pid [1846]

[2022-11-22 19:16] roni-kreinin commented on #80
Just to be safe can you try this:
- Unplug the USB-C again
- Disable the `turtlebot4` service - `sudo systemctl disable turtlebot4`
- Reboot the RPi - `sudo reboot`
- Wait for SSH session to reconnect
- Plug the camera back in and run `ros2 launch turtlebot4_bringup oakd.launch.py`

[2022-11-22 20:01] bld7 commented on #80
Went through your list with the new cable. Same error:
ubuntu@ubuntu:~$ ros2 launch turtlebot4_bringup oakd.launch.py
[INFO] [launch]: All log files can be found below /home/ubuntu/.ros/log/2022-11-22-19-59-50-456904-ubuntu-1314
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [rgb_stereo_node-1]: process started with pid [1316]
[rgb_stereo_node-1] [18443010E197631200] [25.979] [sy

[2022-11-23 13:37] saching13 commented on #80
@bld7
- is this OAK-D-Lite or OAK-D-Pro ?
- Can you run the launch command with a prefix of `DEPTHAI_LEVEL=debug` and share the logs please ?

[2022-11-23 19:40] bld7 commented on #80
We bought a standard TB4, so it should be an OAK-D-Pro.
I executed the command:
ubuntu@ubuntu:~$ ros2 launch turtlebot4_bringup oakd.launch.py DEPTHAI_LEVEL:=debug
[INFO] [launch]: All log files can be found below /home/ubuntu/.ros/log/2022-11-23-19-32-35-886942-ubuntu-1361
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [rgb_stereo_node-1]: process started with pid [1363]
[rgb_st

[2022-11-26 17:59] slowrunner commented on #64
For reference my TB4lite draws 13W with the RPLIDAR motor running and not driving,
and 12.75W with the RPLIDAR motor stopped and not driving,
and 10.7W with no TB4 nodes running on the RPi.

My undocked no driving sessions go from full charge to 20% red ring in roughly 1 hour 50 minutes,
and from 96% to 24% in roughly 1 hour 45 minutes.
Charging from 24% to 96% takes roughly 3 hours.

[code]

It i

[2022-11-26 18:11] slowrunner opened #85 "Need a "SAFE" way to shutdown the TurtleBot4 Lite"
When I use the Create3 /power_off action goal, it jerks power out from under the Raspberry Pi4, corrupting files on the way down.

I have submitted an idea for the Create3 to include a delay on the /power_off goal so that the Raspberry Pi4 would have time to complete a proper shutdown.

THIS IS A VERY BAD PROBLEM.

(I tried shutting down the RPi4, then holding the Create3 power button till all goe

[2022-11-28 02:32] nidia-bucarelli commented on #44
I tried to add the Create to both the computer and Pi4. It does not work.
Do you know how I can ssh the Create? I wonder if I also need to add the file to the Create.

Thanks!

[2022-11-28 15:17] CycleMark opened #86 "Unable to Connect Bluetooth Controller - No default controller available"
Hi - I have the Turtlebot4 Lite.

I'm trying to connect a BT controller - Specifically - https://www.amazon.co.uk/gp/product/B08XY86472/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1

![TurtleBot4 BT Issues](https://user-images.githubusercontent.com/27418725/204312787-daac771c-6481-4955-bedc-611cdf883ada.png)

For example command:
sudo bluetoothctl --agent=NoInputNoOutput show

is kicking back w

[2022-11-28 15:26] roni-kreinin commented on #80
@bld7 Can you try launching it like this: `DEPTHAI_LEVEL=debug ros2 launch turtlebot4_bringup oakd.launch.py`?

[2022-11-28 16:30] roni-kreinin commented on #86
@CycleMark Can you try the following:

[code]
When it boots, SSH in again and call `sudo systemctl restart hciuart`, then try to run `sudo bluetoothctl` again.

[2022-11-28 16:31] roni-kreinin commented on #85
We could definitely add a simple shutdown script that will send the /power_off goal and shut down the RPi before the robot powers off, but yes that would require iRobot to add a delay option to the service.

[2022-11-28 18:55] bld7 commented on #80
The terminal output is given in the attached file.

[terminal_output.txt](https://github.com/turtlebot/turtlebot4/files/10106628/terminal_output.txt)

[2022-11-28 19:01] roni-kreinin commented on #80
@saching13 Do you see anything in the logs that would help?

[2022-11-28 19:20] bld7 commented on #80
The content for the two log files I found are:
ubuntu@ubuntu:~/.ros/log/2022-11-28-18-45-05-765776-ubuntu-1720$ more launch.log
1669661105.7743659 [INFO] [launch]: All log files can be found below /home/ubuntu/.ros/log/2022-11-28-18-45-05-765776-ubuntu
-1720
1669661105.7752223 [INFO] [launch]: Default logging verbosity is set to INFO
1669661106.5147333 [INFO] [rgb_stereo_node-1]: process started w

[2022-11-28 21:18] bld7 commented on #80
Ever since I executed the  commands suggested earlier:

    Unplug the USB-C again
    Disable the turtlebot4 service - sudo systemctl disable turtlebot4
    Reboot the RPi - sudo reboot
    Wait for SSH session to reconnect
    Plug the camera back in and run ros2 launch turtlebot4_bringup oakd.launch.py

The LCD display and LEDs above the display are dark. Plus a number of nodes are not starting

[2022-11-28 21:41] roni-kreinin commented on #80
@bld7 You can run `sudo systemctl enable turtlebot4` to re-enable the service, then `sudo systemctl start turtlebot4` to start it up.

[2022-11-29 14:31] CycleMark commented on #86
Hi @roni-kreinin - Thanks for that. It seems to have worked, to a point in that I've had to re-run is at boot time a few times.

Oddly - whilst /cmd/vel is now showing output it's seem laggy and the robot isn't moving turtlebot_bringup et al is running. Any think I can look at?

Thanks

Mark

[2022-11-29 18:40] roni-kreinin commented on #86
@CycleMark If you are using CycloneDDS its possible that the Create 3 may have gone into an error state from losing the `usb0` connection on RPi reboots. Try restarting the application using the webserver.

[2022-11-29 21:54] #75 closed, assigned to nobody

[2022-11-30 07:36] saching13 commented on #80
@bld7  sorry for the delay. Can you run [this](https://github.com/luxonis/depthai-python/blob/main/examples/calibration/calibration_dump.py) script and share the dump from it ?
it looks like some new config we added might be missing.
And also can you check which version of depthai is used here ?

[2022-11-30 17:29] nidia-bucarelli commented on #44
@Tanjim13  hello!
I am using the University WIFI network, not a router. I have tried to enable unicast. I still cannot see the topics. How do I change it to access point?

[2022-11-30 23:19] bld7 commented on #80
I tried running the script, but it cannot find the module depthai. How do I go about running the script?
The version of depthai is 2.15.4 (taken from packge.xml).